[2016-11-22 12:22] mxstbr opened #1 "Support different import names"
Currently, this breaks the babel plugin:

[code]

Instead of hard-coding and checking for the `styled` keyword, we should be looking for the import declaration and getting the variable name. (what I do [here](https://github.com/styled-components/stylelint-processor-styled-components/blob/9d904c963466e397de2d08f84314249d9c0e7ce9/src/index.js#L60-L63) and [here](https://github.com/styled-components/

[2016-11-22 13:12] mxstbr opened #2 "Disable displayName stuff in production"
We should check for `process.env.NODE_ENV !== 'development'` and disable `displayName` if that's the case.

[2016-11-22 13:42] mxstbr opened #3 "Fix identifiers"
I forgot that the identifiers actually don't need to be added to the underlying component but to the actual component:

[code]

What I do right now (which is wrong) is this:

[code]

Switching to the first one will be a bit harder, and since we're still exploring possible other syntaxes I'm going to invest a large amount of time into fixing this, since we probably won't keep it around anyway. /cc

[2016-11-22 14:16] vdanchenkov commented on #1
Initially I wanted to keep it usable for https://github.com/threepointone/glamor/blob/master/docs/styled.md and similar cases where `styled` is not imported from `styled-components`. We could came up with some sophisticated configuration, or just support both cases: current behaviour and suggested in this issue.

[2016-11-22 15:48] mxstbr commented on #1
There's a lot more this plugin is going to do which won't work for `glamor` at all.

We should _default_ to `styled`, but if there's an `import whatever from 'styled-components'` we take whatever variable that's assigned to. (that's what the stylelint processor does too)

[2016-11-22 21:28] geelen commented on #3
I don't quite understand the difference...

[2016-11-23 08:18] mxstbr commented on #3
The second one has more code, but I guess it doesn't really matter. Closing for now.

[2016-11-23 08:18] #3 closed

[2016-11-26 18:35] #1 closed

[2016-11-26 19:05] vdanchenkov opened #7 "Add displayName to unnamed components exported as default, based on filename"
[code]
should have displayName == 'Button'

I'm going to implement it this weekend.

[2016-11-26 19:27] mxstbr commented on #7
Awesome, that's a great idea!

What about doing BEM style naming generally:

[code]

This `Button` could now have a `displayName` (and identifier, thus class) of `shared__Button-asdf123`. That way finding components becomes really really easy!

[2016-11-28 09:56] #7 closed

[2016-11-28 10:28] vdanchenkov opened #10 "Identifiers in test fixtures affected by tests order."
Looks like currently tests runs in alphabetical order and if I create test in the middle, it affects ids generated for components in all tests which runs after it.

My ideas are: introduce internal id counter reset method or explicitly set order of tests.

[2016-11-28 10:39] mxstbr commented on #10
Yeah I noticed this. I like your second solution, let's prefix all folder names with numbers and strip them from `index.test.js`? `1-should-add-display-name`,...

[2016-11-28 11:12] vdanchenkov commented on #10
I like prefixes. Two-digit will be enough: 01, 02... Will do.

[2016-12-02 15:40] SpaceK33z opened #12 "Minify CSS"
Currently all CSS used in styled-components is unminified.
As @mxstbr suggested on Gitter, this Babel plugin could take care of minifying the CSS.
Perhaps only when `process.env.NODE_ENV === 'production'`?

Alternatively, this could be a [babili](https://github.com/babel/babili) plugin.

Related to https://github.com/styled-components/styled-components/issues/284

[2016-12-02 20:41] mxstbr commented on #12
That could totally work, shouldn't be too hard actually with the base we already have! I haven't looked too deep into it, but doing `s/\s/` on the CSS should kinda just work? What do you think @vdanchenkov?

[2016-12-03 08:26] vdanchenkov commented on #12
It would be hard to cover all cases due to interpolations, but we definitely could support some basic stuff. `s/\s/` (trim whitespace from the beginning of each line) should work fine. Maybe we could make it little more advanced like this: http://cssnano.co/optimisations/core/

[2016-12-03 09:25] mxstbr commented on #12
True, good point about the dev! Let's try making this happen then?

[2016-12-03 10:29] vdanchenkov commented on #12
I'll look into it tomorrow. Will minify css`` and styled.x``.

[2016-12-04 02:20] #10 closed

[2016-12-11 14:34] kopax commented on #12
any update on that topic?

[2016-12-17 15:01] vdanchenkov commented on #12
We can dramatically reduce css-related code by removing template literals

[code]

As far as I can see we do not use `raw` values, so it could be transpiled with our plugin to:
[code]

@mxstbr Am I correct that it will work as is with styled-components lib?

[2016-12-17 15:11] mxstbr commented on #12
`raw` is a publicly accessible API that babel plugins can hook into (`node.value.raw`, see [the spec](https://github.com/babel/babylon/blob/master/ast/spec.md#templateelement)) so I doubt we can just remove it!

What we should instead do is get rid of all the whitespace in the template literals and let everybody transpile them (or not transpile them if they only support Chrome) however they want?

[2016-12-17 15:24] mxstbr opened #14 "Add source map support?"
We should add support for source mapping, similar to https://github.com/zeit/styled-jsx/pull/34/files

What do you think, is that feasible?

[2016-12-17 17:10] vdanchenkov commented on #12
It's actually two cases but they are related.

Simple whitespace removal could be done, but it looks like a lot of work with little benefit. Typically it will remove 3 characters per rule if we remove newlines and spaces at the start of every line. We can not safely remove all whitespaces due to cases like `content: "  ${value}  "; `

The problem with template literals is that we need to remove wh

[2016-12-17 17:48] vdanchenkov commented on #12
@SpaceK33z Could you check #15 with your test cases? You can paste examples of your code to fixture 08-minify-css-to-use-with-transpilation if you transpile template literals or 09-minify-css-to-use-without-transpilation if not. Run npm test to check it's output.

[2016-12-17 18:36] SpaceK33z commented on #12
@vdanchenkov, looks good! I tested some code from a small project with it. I don't have much code since I was still evaluating styled-components, but it worked. It looks like keyframes aren't compressed however (red = expected, green = actual):

[code]

[2016-12-17 18:46] mxstbr commented on #12
Let's do this then!

[2016-12-17 18:49] mxstbr opened #16 "Update to new syntax"
As of https://github.com/styled-components/styled-components/pull/227 the new syntax for the private API is `.withConfig`:

[code]

*This avoids issues on ReactNative where `target` would before need to be `View` (no string) and we'd need to import it, which would've made everything much more compilcated.*

I'm thinking about switching this to be `.__config` to make sure people don't accidentally

[2016-12-18 07:18] vdanchenkov commented on #16
How does it work with component wrapping? This way?
[code]

[2016-12-18 09:35] mxstbr commented on #16
To elaborate a bit on why this is a necessary change, on the web we can transpile our `styled` calls like so:

[code]

[code]

Which is what we do right now! The issue is, that doesn't work on ReactNative. Imagine this:

[code]

Transpiling it to this breaks, because in ReactNative there are no string primitives:

[code]

Instead, we'd have to transpile it to this:

[code]

Which would have been a

[2016-12-18 10:31] vdanchenkov commented on #16
@mxstbr Thanks for the explanation. I'll update it in a nearest time.

[2016-12-20 18:41] SpaceK33z commented on #12
Thanks @vdanchenkov for fixing this, really awesome :).

[2016-12-20 18:41] #12 closed

[2016-12-20 20:37] vdanchenkov commented on #14
@mxstbr Looks really interesting. I definitely would like to have an easy way to jump to component definition right from the style on elements panel. But I have no experience with source maps and will have no time for it in this year.

[2016-12-20 20:48] mxstbr commented on #14
No worries, me neither 😉 let's put that on the backlog, maybe once we officially launch this a sourcemap expert jumps into the conversation!

[2016-12-20 20:49] #16 closed

[2016-12-21 08:53] kopax opened #18 "How to install"
I wanted to minimize my css, as I have seen issues closed in react-boilerplate, I thought it was solved by this plugin.

I have tried to install using npm and git+ssh, I know it's written WIP but is there a way to test the minification or it's not ready at all ?

[2016-12-21 09:50] mxstbr commented on #18
Not ready yet as it's only useable with v2 of styled-components, which we'll release at the beginning of January. Soooon!

[2016-12-21 09:50] #18 closed

[2016-12-21 16:41] vdanchenkov commented on #18
@kopax

For evaluation you can do
[code]

You can use it with current version of styled components if you disable displayName and ssr, as thouse features are not implemented in master branch of styled components yet.

Take a look at https://github.com/styled-components/babel-plugin-styled-components/tree/master/test/fixtures/09-minify-css-to-use-without-transpilation

[2016-12-23 08:37] vdanchenkov commented on #2
The issue was created when we used IIFE and had no configuration flags.

These days, I'd recommend using https://babeljs.io/docs/usage/babelrc/#env-option to configure it explicitly.

@mxstbr  WDYT?

[2016-12-23 13:55] mxstbr commented on #2
Sounds very reasonable!

[2016-12-23 13:55] #2 closed

[2016-12-25 17:51] vdanchenkov opened #20 "Questions about componentId"
Currently with `{ ssr: true, displaName: false }` component id gets generated with component name `Component-137hlza`. Should we change it to `s-137hlza` if displayName is disabled? I guess human-readable name here is solely for debug purposes?

[2016-12-25 18:09] vdanchenkov commented on #20
I think, I see a problem with 3-rd party libs.

You do not usually transpile code from node-modules, so I think 3-rd party libs built with styled-components should be preprocessed with this plugin to get componentId's in place before publishing.

But in that case id's from different libs will clash. If it's an actual problem, I have one solution on my mind. Plugin could determine package name of t

[2016-12-25 19:19] mxstbr commented on #20
Hmm, I guess?

That's a good point, I hadn't thought of that! /cc @geelen could that be an issue?

[2017-01-10 02:36] kopax commented on #18
@mxstbr , will you take care of styled-components v2 soon ? I will need at some point to compress the css with this, and the sooner the better.

[2017-01-10 09:40] mxstbr commented on #18
Yes, @geelen and I have set our eyes on a release sometime within the next weeks, probably at the beginning of February! Not much missing 😉

[2017-01-17 16:49] vdanchenkov opened #24 "Need better way to determine componentId"
I was able to get duplicates with `create-react-app` setup because it uses babel-loader with cache enabled.

Considering other options.
- `path.hub.file.code`
- `path.hub.file.sourceFileName` and last part of `path.hub.file.sourceRoot`
- `path.hub.file.filename`

`code` hash is the most reliable, but it will break if we have two files with exactly the same source. For other options we'll have ask

[2017-01-17 16:56] vdanchenkov commented on #24
Maybe it's better to try again to find a way to make it work without componentId in SSR.

[2017-01-17 20:05] mxstbr commented on #24
Wait why is this breaking? What's going on here?

[2017-01-17 20:16] vdanchenkov commented on #24
On the first run in the development mode babel-loader compiles all the files and puts in the cache. Cache is stored in `/node_modules/.cache/react-scripts`.

Interrupt execution and restart `npm start`. Server starts without compilation with data from cache. Now, if you change any application file, only this file will be recompiled with `id = 0`. I've put id to display name to illustrate it.

![im

[2017-01-17 20:29] mxstbr commented on #24
Oh god that's super annoying. 😕 /cc @geelen

[2017-01-17 22:48] geelen commented on #24
hahah that's awesome. I knew incremental IDs were going to break down, I just hoped we'd get a bit of mileage out of them first :)

What does that look like? If we append `code` and `filename` together then hash them we should be ok, right?

Alternatively, for dev, we use something like a timestamp instead of a sequential ID. A `componentId` only has to be deterministic for SSR. Does create-react-

[2017-01-18 00:21] vdanchenkov commented on #24
For `babel-loader` I'm getting absolute fileName in tests. For `babel.transformFile(pathToFile)` and babel cli there is fileName in a form it was passed to the babel. I guess, in most cases we will have some fileName to depend on. Absolute or relative to the project root.

There will be no fileName if it's used with `babel.transform(source, options)`. It can be passed it in the options. `babel.tra

[2017-01-30 02:56] philpl commented on #24
I've been thinking about this for a bit... So what we can't use are:

- incremental ids (breaks with caching)
- filenames (might not exist with `babel.transform`)

What we could use is:

- the identifier name (not necessarily unique; sometimes there isn't one 😢)
- hash of the CSS code
- hash of the file's code
- timestamp

Am I correct when assuming that we only need a unique id for the lifetime o

[2017-01-30 03:13] philpl commented on #24
@mxstbr @vdanchenkov @geelen I quickly drafted up a PR which uses shortids, just to see what it would look like ;)

https://github.com/styled-components/babel-plugin-styled-components/pull/27

[2017-01-30 04:59] geelen commented on #24
Hmm, definitely worth a try! I'm not 100% sure that a random ID won't break something eventually (I'd hoped for a deterministic one) but I can't think of anything at the moment, so I reckon that's good. I'll let @mxstbr review the PR tho, since i have no idea how babel transforms work :)

[2017-01-30 05:34] philpl commented on #24
@geelen I hope it's fine. I think it's the lazy, but sure-fire way out of this dilemma.

Oh, and fear not- actually no one knows how babel transforms work 🥇

![fa5](https://cloud.githubusercontent.com/assets/2041385/22413200/ad613940-e6ad-11e6-9fc1-ea7574a999f3.jpg)

[2017-01-30 05:51] nicksrandall commented on #24
One concern I have about the time based approach is that the non detminism could bite you when you have more than one bundle. For example, I generate a build for the browser with lazy loaded routes and a non-lazy build for the server (for SSR) . They are just two different entry points in the same webpack config but I'm worried that because of this, the class names wouldn't match up.

P.S. I since

[2017-01-30 05:58] vdanchenkov commented on #24
@philpl Another problem of random ids is that content hashes will change on every build.

[2017-01-30 06:15] philpl commented on #24
@nicksrandall @vdanchenkov Hm, well before the contentId would change, as well as `id` was not deterministic and depended on the build-order ^^

yea, that's true. the hashing the entire bundle to check for changes will become entirely useless.

we can still try to just hash *everything* that is being passed to `styled`, which should work as long as we don't have two `styled` calls with the exact s

[2017-01-30 06:49] geelen commented on #24
I think that might be a better approach. Make sure to include `fileName` if it's present as well.

Thanks for your efforts, I say we ship something and get some real-world data on where it breaks down. I don't think changing the ID generation strategy should constitute a breaking change, so it should be fine to iterate on until we get it right.

[2017-02-03 09:36] vdanchenkov commented on #24
I'm going to make componentId based on:

1. package name
2. path to the file from the package root folder with separators converted to forward slashes.
3. file source code
4. styled component index inside the file.

Hope it will make id deterministic across build environments.

[2017-02-03 09:41] vdanchenkov commented on #24
Also, I'm going to drop displayName from component id. It can be added back in the runtime from the displayName field if needed.

[2017-02-03 10:19] #20 closed

[2017-02-03 18:29] kopax commented on #18
hi, Any update on this ?

[2017-02-04 11:04] mxstbr commented on #24
Why? We want to have the component name in the `className`?

[2017-02-04 11:04] mxstbr commented on #18
Still working on it! 😊

[2017-02-04 12:02] vdanchenkov commented on #24
@mxstbr Benefit is that it makes JS bundle smaller. Makes smaller CSS generated in SSR. In the production you usually don't need to keep human-readable name. They are harder to compress compared to hashes in my proposal.

[2017-02-04 13:40] vdanchenkov commented on #24
I think that component display name in className is a good thing. But I don't think that we need to keep a duplication to achieve that.

In development mode with everything enabled we'll have
[code]
But `className="WrappedComponent-kam0ab-1"` can be easily reconstructed at runtime.

In the production with `displayName: false` plugin will generate
[code]

[2017-02-04 13:43] mxstbr commented on #24
You're probably right, we should do that at runtime. PR against the `v2` branch? 😉

[2017-02-04 13:44] #24 closed

[2017-02-07 12:44] wmertens opened #29 "//-style comments are mangled by the plugin"
When using line comments, they get their newline stripped by the minification and they become an erroneous selector.

<strike>I was also not able to turn off minify with the plugin options.</strike> (config error)

I propose that minification be disabled until #26 lands, that will be much more useful and correct.

[2017-02-07 13:54] vdanchenkov commented on #29
Why would we do something about it if starting line with `//` is incorrect in CSS?

[2017-02-07 14:00] mxstbr commented on #29
Because we allow it in `styled-components`. It's something that people did over and over, so we added support for it and basically cut out any line that contains `//`. We should remove those comments with the babel plugin too.

[2017-02-07 15:38] vdanchenkov commented on #29
Fixing it will be tricky. I believe it should trim the code after the `//` unless `//` is inside quotes. And preserve code to the left of `//`. I think that the easiest fix would be to keep newline at the end of the line if it contains '//' and hope stylis will do the rest.

I hadn't looked into #26 yet. Hope it will give good enough size of the output, so we can replace minification with it once

[2017-02-07 18:49] wmertens commented on #29
Stylis just supports it, so do you really need to strip those out?

On Tue, Feb 7, 2017, 4:38 PM Vladimir Danchenkov <notifications@github.com>
wrote:

[2017-02-18 14:42] mqklin opened #31 "Where should I use this?"
I make SSR. Should I use this plugin in both (SSR and prod) webpack configs, or only in SSR?

[2017-02-18 16:11] mxstbr commented on #31
In all of your webpack configs. It makes sure the class names are the same on the server and the client.

[2017-02-18 16:11] #31 closed

[2017-02-21 22:13] davidrossjones opened #32 "Cannot pass plugin options?"
NPM install of `babel-plugin-styled-components` with following `.babelrc`:

[code]

When run with babel-cli (or via webpack) I get the following:

[code]

This is the same for all options (ssr, minify, displayName). When passing no options, the plugin appears to be working as expected with friendly component names showing via inspector/dev tools. What am I doing wrong?

[2017-02-27 18:20] kopax commented on #29
any update on this ?

[2017-03-03 05:06] kopax opened #33 "[V1] Comment and whitespace from css are still present in distribution build."
I can see many css comments compiled in my distribution build which increase the global size.

![image](https://cloud.githubusercontent.com/assets/1866564/23538836/01ec05e8-0009-11e7-805c-8d62e13da614.png)

## Version
1.0.0

## Reproduction
http://www.webpackbin.com/NkoxEJM9G

## Steps to reproduce

[code]

## Expected Behavior

[code]

## Actual Behavior

[code]

[2017-03-14 10:14] wmertens commented on #32
It works for me with `[require.resolve('babel-plugin-styled-components'), {minify: false}],`; I think you need to specify the full module name, otherwise it finds `styled-components`.

[2017-03-14 11:28] philpl commented on #32
@davidrossjones You forgot to wrap the plugin inside an array ;)

[code]

[2017-03-14 15:35] #32 closed

[2017-03-14 15:36] #29 closed

[2017-03-14 21:07] philpl commented on #32
![download-2](https://cloud.githubusercontent.com/assets/2041385/23922435/3e6fdb1c-08fa-11e7-98fd-2a1a3228dc07.gif)

[2017-03-14 21:35] mxstbr commented on #32
Sorry, thanks @philpl!

[2017-03-14 22:39] philpl commented on #32
@mxstbr haha no apologies or anything needed. I just felt like posting a gif 😅

[2017-03-20 15:59] HejdesGit opened #35 "[v1.0.1] Possible bug: debug displayname (and styled-components v2)."
Hello,

I just upgraded (babel-plugin-styled-components) from v:1.0.0 to v:1.0.1 and now the plugin dons't add the components' name to the class name.

Div with v:1.0.1: `<div data-reactroot="" class="c4dx7z-0 bUnYA">`
Div with v:1.0.0: `<div data-reactroot="" class="app__DivFlexWrapper-14dsmrv jSMEYv">`

Using:
"styled-components": "~2.0.0-8"

Babelrc:
.babelrc
{
    "presets": [
        "es2015"

[2017-03-20 16:01] kopax commented on #35
@HejdesGit this plugin is meant to work with `styled-components` 2. I haven't  tried the 1.0.1 and I think I will wait a bit.

[2017-03-22 15:01] acanimal opened #36 "Error "withConfig is not a function""
Hi,
I just installed the plugin as described but when I try to bundle code using webpack the next error arise:

`TypeError: _styledComponents2.default.h1.withConfig is not a function`

Am I missing something? Any help?

[2017-03-22 15:22] philpl commented on #36
Are you trying to use it with styled-components v1 possibly?

[2017-03-23 18:20] scottluptowski commented on #36
I am receiving the same error and am using Styled Components v1.

Will try now with v2. Thanks!

[2017-03-24 15:02] mxstbr commented on #36
This plugin only works with v2—we should add that to the README!

[2017-03-24 15:02] #36 closed

[2017-03-24 15:03] mxstbr commented on #35
The plugin is actually _only_ compatible with v2. Do you have a reproduction repo of this somewhere? It should definitely not be happening.

[2017-03-27 08:00] HejdesGit commented on #35
@mxstbr sorry, no reproduction repo. Didn't have time to set one up. But the latest release (1.1.1) is fixing my problem. Hope that's good enough. If the problem arise again I'll try to investigate further and set up a repo.

[2017-04-04 05:03] kopax opened #39 "Information about new warning in documentation"
I was using plugin v1.0.0 to compress my distribution build. Is this included by default in styled-components@? without any plugin ?

[2017-04-04 08:08] mxstbr commented on #39
Nope, the warning says "is only _necessary_", not "should only be used when"! Any ideas how to improve that phrasing to make it clearer?

[2017-04-04 10:29] kopax commented on #39
Well, the warning is false in this case.

[2017-04-04 10:47] mxstbr commented on #39
Not true, it's not _necessary_ in that case, that's exactly what I was trying to avoid saying! :wink: There's lots of people using `styled-components` in production without this plugin, and if we start saying that people will think they can't use `styled-components` with `create-react-app`.

I agree that we need to change the wording though, what about:

[2017-04-11 14:45] IIIristraM opened #41 "Integration with typescript"
I'm using babel to transpile ES6 made by typescript to ES5. And it looks like this plugin doesn't work at all in this case.

typescript v2.2.2
styled-components v2.0.0-15
awesome-typescript-loader v3.1.2
babel-plugin-styled-components v1.1.4

[2017-04-11 15:29] philpl commented on #41
@IIIristraM The awesome-typescript-loader has support to trigger a babel transpilation as well. The option is called `useBabel`.

https://github.com/s-panferov/awesome-typescript-loader#usebabel-boolean-defaultfalse

It's not something we can do on our side, since it's a build pipeline problem ;)

[2017-04-11 16:50] IIIristraM commented on #41
Well I found one place where plugin was applied, so at least it takes part in a build process.  And I'm going to disagree with you.

This is output from the same file

[code]
So the place with import was skipped, while the function where was string like  `const XXX = styled.div``;` was processed. It looks like parsing issue, so I suppose it's responsibility of the plugin.

[2017-04-11 17:08] cjthedizzy opened #43 "Uncaught TypeError: _styledComponents2.default.div.withConfig is not a function"
I added the plugin without any additional config to my babelrc:

[code]

Everything worked perfectly before adding the plugin and now I'm getting this error:
`Uncaught TypeError: _styledComponents2.default.div.withConfig is not a function`

The code its throwing on is:
[code]

[2017-04-11 17:12] cjthedizzy commented on #43
_Side note: I only want to use this for better debug info/more semantic classnames. Im not attempting to use it for SSR_

[2017-04-11 17:17] cjthedizzy commented on #43
I just noticed a PR to add that this only works with v2. Seems like that might be my issue since im using 1.1.4. Is v2 stable?

[2017-04-11 18:09] philpl commented on #43
@cjthedizzy v2 is scheduled for release soon, and sufficiently stable in terms of tests. We did have a regression lately which mangled styoe ordering, but we fixed it as soon as it came up.

So all in all, it depends on your project. I'd say it's sufficiently stable for most projects

[2017-04-11 18:10] cjthedizzy commented on #43
Awesome, the project wont go out for some time so if anything arises, Ill file another issue. Thanks for the quick response!

[2017-04-11 18:10] #43 closed

[2017-04-11 18:44] philpl commented on #41
@IIIristraM Hm, I was thinking maybe TypeScript transpiles the above LoginButton tagged template literal and thus the babel plugin doesn't find any template literals anymore. However, the second one is indeed being transpiled.

Can you provide your `.babelrc` and a test file, so I can find out what's going on? ;)

[2017-04-12 07:45] IIIristraM commented on #41
`.babelrc`
[code]

original file
[code]
output
[code]

`styles` file
[code]
output
[code]

[2017-04-12 15:16] 0x80 opened #44 "Option for ssr clashes with displayName"
If you set `ssr: true` the component names are not part of the classes anymore. Even if you add `displayName: true`.

If this is intentional it should be mentioned I guess.

[2017-04-12 15:23] philpl commented on #44
It should indeed be used. See here: https://github.com/styled-components/styled-components/blob/v2/src/models/ComponentStyle.js#L24

Can you post an example?

[2017-04-12 19:54] 0x80 commented on #44
I don't have an example ready yet. But the difference in my babel config is this

[code]

And with changing false -> true,  the difference in output is

[code]

vs

[code]

[2017-04-14 08:08] ehd commented on #44
Hey, I’m seeing the same behavior. With 1.1.4 and the default config I see the `displayName` as part of the class, with `ssr: true` it’s gone. Currently getting around this with two different babel envs.

[2017-04-26 15:30] vdanchenkov commented on #41
@IIIristraM could you try to change original file to
[code]

And make sure you do not import 'styled-components' directly in this file.

If it works, we will know the source of the problem.

[2017-04-26 15:52] vdanchenkov commented on #44
@ehd May I ask, why would you need a component name in the class with ssr enabled? Is it to help with navigation or leads to incorrect behavior?

[2017-04-26 16:10] vdanchenkov commented on #44
This difference in the presentation should be addressed in the runtime code, but we can discuss it here, I think.

[2017-04-26 16:21] vdanchenkov commented on #35
Component name was dropped from the id starting from 1.0.1. Yes, it had to be mentioned explicitly. Starting from 1.1.0 ssr flag is disabled by default, so id is not generated at all, which "fixes" the problem because id is now generated by the runtime, not the plugin. see #44

[2017-04-26 16:21] #35 closed

[2017-04-26 18:16] IIIristraM commented on #41
Yes, it works

[2017-04-26 20:43] vdanchenkov commented on #41
So the problem is that `styled.div` was converted to `styles_1.styled` before it got passed to the plugin. Probably it is done by the typescript, I'm not sure.

As a result, plugin failed to identify `styles_1.styled` as a styled component helper. We probably need to make the logic more vague, but not too much.

I think that `some.name.styled.div`color: red` ` should not be considered a styled com

[2017-04-28 16:36] philpl commented on #41
@vdanchenkov I think we can solve that with the webpack plugin — once I actually get to writing it — since we want to run our transformations before typescript etc

[2017-05-01 10:32] raphaelsaunier commented on #41
I came to the same conclusions as @vdanchenkov after running into issues when using it with a next.js application.

Since, in this case, the [recommendation](https://github.com/zeit/next.js/tree/master/examples/with-typescript) is to first compile the TypeScript sources before letting Babel apply its transformations, it might be worth tweaking the detector after all?

[2017-05-01 12:52] romellogood opened #47 "Using 2.0.0-17 of styled-components doesn't correctly extract styles for extended classes serverside"
With the following code

[code]

The color and font-size rules are split into two different classes but only the color class is sent from the server. When the page renders styled-components correctly renders both styles.

Here is the config babel is using

[code]

[2017-05-01 16:25] philpl commented on #47
Styles aren't extracted by this plugin at all. This is a work in progress. :wink:

[2017-05-01 16:48] mxstbr commented on #47
That's still a bug I'm pretty sure?

[2017-05-01 16:58] philpl commented on #47
@mxstbr Could be? 🤔

@romellogood Can you post your code before and after transpilation?

[2017-05-01 17:11] romellogood commented on #47
[code]

Here is the transpired code for the snippet above. This is after the client takes over and correctly adds the font-size 24px.

I beginning to think the issue may be with ServerStyleSheet generating the css on the server instead of the plugin.

[2017-05-01 18:30] philpl commented on #47
Can you post the transpiled JS code of your example above, after it's gone through babel, so we can see if it's a problem with styled-components or our babel plugin? :smile:

Cheers :wink:

[2017-05-02 07:06] wmertens opened #48 "preprocess seems to dislike css interpolation in pseudoclasses"
If I have

[code]

then the plugin in `preprocess: true` mode will somehow eat the `:hover` and the styles will be applied on the normal component too.

[2017-05-02 14:20] philpl commented on #48
hm, interesting. Can you post what this becomes past transpilation for you? :)

[2017-05-15 13:09] wmertens commented on #48
Sorry for the delay. It also happens on regular sub selectors.

I tested with
[code]

This is what it looks like without preprocessing:
[code]

theme.focusShadow:
[code]

This is the resulting css:
[code]

---
and with preprocessing:

[code]

theme.focusShadow:
[code]

css:
[code]

As you can see, it converts `flex-inline` to `flex` 🤔, and the box-shadow moves out of the `input:focus` selector, bu

[2017-05-23 17:17] griffinmichl commented on #44
+1 on this issue.

We want component names with SSR enabled @reddit both for debugging (we develop with SSR enabled since SEO is a major part of our business) and to allow users to hook into our styles and provide their own customization to subreddits.

Any updates?

[2017-05-23 17:27] mxstbr commented on #44
That'd be awesome! I think this would need a PR against styled-components main, since I think the babel plugin passes down the "nice component name" either way?

[2017-05-23 17:29] griffinmichl commented on #44
@mxstbr It looks like it does pass down the displayName, so I'll investigate why they're not showing up in styled-components main

[2017-05-23 17:30] philpl commented on #44
So, to bring some clarity here. I misunderstood this issue before. When `ssr` is true, `componentId ` is set to a generated, unique hash. Thus the className is not readable anymore, when it's set.

When it's not set, the `displayName` is used to generate a `componentId`, which then ends up being readable.

We should make a small change that appends `displayName` to the `componentId`, when both opt

[2017-05-23 18:39] vdanchenkov commented on #44
Appending in a plugin would slightly increase bundle size due to, well, duplication. Why do it here if is can be done in runtime?

[2017-05-23 18:48] philpl commented on #44
@vdanchenkov true! let's move this effort to the runtime :)

[2017-05-26 14:11] sphinxominator opened #51 "Different class names when rendering on client vs server"
I'm trying to add SSR to a project based on Create React App. On my backend I got it to render the correct CSS by using this babel plugin and adding `ssr: true` to my `.babelrc` file, but now the class names are not the same as when they're client rendered.

I'm using the newest version `2.0.0` on both the client and server, but since I haven't ejected CRA, I can't add a babel loader to it and I'd

[2017-05-26 15:47] philpl commented on #51
You need to apply the same transformation to client and server files, assuming the files are not universal :) otherwise the client is not going to have the same data attached to it to render with the same className

[2017-05-26 15:47] #51 closed

[2017-05-26 19:33] cosivox opened #52 ""React attempted to reuse markup error" when using withComponent"
I'm doing this:
`const Button = Input.withComponent('button')`

And getting this error on console:

 (client) ><button class="sc-bwzfXH dsgxen" data-r
 (server) ><button class="sc-bxivhb kxuNeJ" data-r

And it's only showing if use `withComponent()` method in styled-components

[2017-05-26 20:18] mxstbr commented on #52
@philpl I think we forgot supporting `.extend`, `.withComponent` here! /cc @vdanchenkov

[2017-05-26 21:36] philpl commented on #52
True! We'll need to add those

[2017-05-27 11:42] elstob opened #53 "Clarifications of "improved debugging" and component names."
Hi, I implemented this plugin on the client side of our application. (This may have been my first mistake). Because I was hoping to get the Devtools names functionality i.e `ComponentName` instead of `styled.div` in my DomTree, as well as classNames like sc-ComponentName.

Unfortunately none of these things seem to be happening. I still have `styled.div` lying around and classes are in the vein of

[2017-05-30 11:32] nickbalestra commented on #53
We had it working as @elstob expected during the Styled-components 2.0 RC phase, but somehow `displayName` doesn't produce the same visible result anymore

Currently running on
- "styled-components": "2.0.0",
- "babel-plugin-styled-components": "1.1.4"

Not sure if something changed during v2.0.0 release that stopped this to work or else.
Can someone else confirm/replicate this too?

[2017-05-30 12:16] zcei commented on #53
The CSS class names are likely relate to #47?

[2017-05-30 12:40] iamrane commented on #53
Same problem here

[2017-05-30 13:46] philpl commented on #53
- Enable the `ssr` option for the componentId to be generated from the `displayName`. This is also used for the visible `className`.
- The `displayName` option is on by default and generates a new displayName for each styled component
- Make sure you're on v2.0.0 so that this works well when both options are turned on at the same time

[2017-05-30 14:11] elstob commented on #53
Sorry to be a pain but that doesn't seem to be work when generating the JS I'm working with.

I'm using v2.0.0 of SC and v1.1.4 of the plugin, displayName (and now ssr) are both set to true in my .babelrc but I'm still not seeing componentIDs or classNames that reflect the `displayName`. I'm happy to move on with this issue closed if you are all confident that this is working as intended but I wan

[2017-05-30 14:14] nickbalestra commented on #53
^^ that's what we are doing as well I guess

[code]

but we don't see any humanized class-name anymore since v2.0.0 (it used to work with prior RC)
As mentioned earlier, currently running on SC 2.0.0 and plugin 1..1.4

[2017-05-30 14:41] elstob commented on #53
Glad to hear it's not just us @nickbalestra, fingers crossed @philpl sees this and saves us. 🍺 for all if so.

[2017-05-30 15:28] philpl commented on #53
I'll take another look this evening. Do note that the `componentId` on its own will never be human readable, but the displayName should be. This is why we now concatenate both if the plugin generates them: https://github.com/styled-components/styled-components/pull/821

The only way that you're not seeing any readable displayName is probably the way you're creating your styles components? https://

[2017-05-30 16:09] elstob commented on #53
Thanks for reopening. Attempting to create a test case gist for this for you has, obviously, shown the correct behaviour. Comparing the output code for this test case against our bundled codebase seems
to illustrate the difference being between:

Test
[code]

Actual
[code]

Which suggests to me that something is happening during our compilation stage that is preventing our actual styled components

[2017-05-30 16:20] elstob commented on #53
OK so embarrassingly it seems our build system was using hard coded babel preset and plugin values instead of reading them from our babelrc so even though the config was set up it wouldn't have made a jot of difference. Updating this has given the expected behaviour. I can't speak for @nickbalestra but hopefully his is a similar situation and I'm not the only one with a red face today 🙈

[2017-06-01 09:59] edorivai commented on #14
Are there any updates, or plans on this?

[2017-06-11 17:10] #53 closed

[2017-06-12 20:41] huy-nguyen opened #56 "Possible bug with minification"
I ran into this strange problem today which I think has to do with minification done by the plugin. I was trying to compile this TypeScript file (note the missing semicolon at the end of the template literal). This plugin is applied together with other babel plugins after the typescript compilation step in webpack.

[code]
If I leave minification on (default), this is the eventual style tag inject

[2017-06-12 21:38] philpl commented on #56
We don't support adding missing semi colons in this plugin, but stylis does. So when you turn minification off, stylis receives the original blob of css and can add the semicolon.

I'm not sure whether this is sth, that we'd like to add, considering that this whole plugin will probably change with v3.

But I can take a look and see if it's not too much trouble.

cc @mxstbr

[2017-06-13 18:13] lumio opened #57 "Styled component displayName won't show up in React Dev Tools"
Hello,

I followed the instructions in the README file and created a .babelrc, refer the styled-components plugin, but the names are not shown.

[code]

I know it reads my .babelrc file, because when I leave out the presets, I get a bunch of error messages.

When I inspect my styled-components I can also see the prefix `sc-`. So that seems to work.
Another interesting behavior occurs when I try to

[2017-06-14 11:13] jebeck commented on #52
I can confirm that using `.extend` causes this React error to pop up again even with the Babel plugin—just happened to me!

[2017-06-14 12:36] mxstbr commented on #14
Feel free to go ahead and implement this @edorivai, nobody's working on it at the minute I don't think!

[2017-06-14 13:07] edorivai commented on #14
Hey @mxstbr, we were considering switching to styled-components, and source map support was one of the questions of the team. We decided not to switch, but might use it in new projects/features. When we do I might take this issue on, but right now I don't have the time :disappointed:.

[2017-06-14 19:52] chriswhawkins opened #59 "Doesn't work with create-react-app (pre-eject)"
Thanks so much for everyone's hard work on this amazing `styled-components` ecosystem.

I have a small component library that I set up using `create-react-app` and `styled-components` and could not get this plugin to work at all without doing an `npm run eject` and then it worked exactly as advertised.

Has anyone else experienced this or, more importantly, figured out a way to get the plugin work

[2017-06-15 19:26] Igorbek commented on #41
I'm currently working on a plugin for TypeScript that would do mostly the same as this one, so that typescript users don't need to use Babel (in most cases it's problematic). The prototype is working pretty well, however nothing is documented, that's next on the list: https://github.com/Igorbek/typescript-plugin-styled-components

[2017-06-15 20:04] philpl commented on #41
@Igorbek since in v3 we'll have a webpack plugin as well, this issue will be solved then as well. I don't see a lot of trouble anymore going forward with TS. Keep in mind? That the plugin will still need to be lean, since this plugin will probably be either mostly or fully replaced, depending on the implementation of the preprocessing. The library for that is planned to be compatible with other cs

[2017-06-15 20:38] Igorbek commented on #41
@philpl interesting, where can I read plans/discussions about future plans for v3 and webpack plugin that would be helpful for TS users? I've heard of idea of css preprocessing and saving it into faster data structure. is that it?

[2017-06-15 20:49] philpl commented on #41
@Igorbek I'm going to touch base with Sunil tomorrow to actually discuss the preprocessor lib and it's spec. There's also a spec for a CSS AST for css-in-js :wink: https://github.com/cssinjs/standard/pull/17

Other than that there's not much yet.

We're already doing css preprocessing in this plugin, but we'll make it so that it can run during the runtime as well, making updates to components fast

[2017-06-16 08:34] Jones-S opened #60 "Does this work with Vue (vue-styled-components)"
Hi

I was wondering if this also works with [vue-styled-components](https://github.com/styled-components/vue-styled-components).

I tried it and I am getting weird errors concerning my style.js files with things like `const Section = styled('div', styleProps)`...

I would like to use the debugging feature which adds a identifiable class name in dev mode.

Thanks for any answer.
Cheers

[2017-06-18 23:44] philpl commented on #60
No, it won't work ;) While vue-styled-components is directly inspired by styled-components, it's not a 1:1 port. At least not after the release of v2

[2017-06-18 23:44] #60 closed

[2017-06-18 23:44] philpl commented on #59
This might be able to help you :) https://github.com/withspectrum/react-app-rewire-styled-components

[2017-06-21 06:33] quentin-sommer commented on #52
Hey @philpl @mxstbr I want to fix this but I've never done any Babel, could you point me to the part of the code where your transpilling `.styled` so I can walk my way to `.extend` and `.withComponent`?

[2017-06-21 09:59] philpl commented on #52
@quentin-sommer we'd have to target it separately since it can also be called separately from the creation of a styled component.

It's not trivial and we'll need to do some refactor work to make this possible for extend as well. Unfortunately this means that you'll probably have to wait for v3 :/

[2017-06-21 14:20] quentin-sommer commented on #52
That's too bad :/

[2017-06-21 15:21] philpl commented on #52
@quentin-sommer the ssr option doesn't enable preprocessing. So you're shipping stylis either way. But when using ssr the ids can get out of sync, which is why we have the separate ssr option here to turn on I'd generation in babel.

This is all pretty hacky right now and will work differently once we have the preprocessing pipeline for v3 done

[2017-06-21 20:41] tz5514 commented on #14
Really hope this feature can be implemented....with source map supporting, styled-components will be almost perfectly.

[2017-06-21 20:51] huy-nguyen commented on #41
I ran into this same problem and used @vdanchenkov's solution and it worked. However, today after upgrading to typescript 2.4 and changing the `module` option in `tsconfig.json` to `esnext`, this problem goes away i.e. `import styled from 'styled-components'` doesn't interfere with this babel plugin anymore.

[2017-06-21 20:54] huy-nguyen commented on #57
I think this is related to #41. This is one solution that worked for me while using typescript 2.3: https://github.com/styled-components/babel-plugin-styled-components/issues/41#issuecomment-297535321. After switching to 2.4, the problem seems to go away for me: https://github.com/styled-components/babel-plugin-styled-components/issues/41#issuecomment-310201410

[2017-06-24 11:44] cncolder opened #61 "Module build failed after update from 1.1.4 to 1.1.5"
I understand this Error throw from another module. Maybe stylis or maybe styled-jsx.

But 1.1.5 is a patch semver update. It introduce a break change.

I downgrade to 1.1.4. It no problem.

[code]

My code used styled-components

[code]

My babel setting

[code]

[2017-06-24 12:02] philpl commented on #61
I've seen this before and I'm not quite sure why it's happening but it's somehow related to `styled-jsx`.

Can you try to turn the `preprocess` option off? It might cause conflicts with the styled-jsx plugin. I haven't raised an issue on next.js yet, since I'm not sure what's causing this.

But on the other hand, `preprocess` is experimental and if it's what's causing the incompatibility, you shou

[2017-06-24 12:02] #61 closed

[2017-06-24 12:03] philpl commented on #61
Duplicate of #934

[2017-06-24 16:00] cncolder commented on #61
It's not duplicate.

babel-plugin-styled-components@1.1.4 dep stylis@2
babel-plugin-styled-components@1.1.5 dep stylis@3

stylis has release a major version.

So I think we need publish as babel-plugin-styled-components@2.0.0

[2017-06-24 17:48] philpl commented on #61
@cncolder 1.1.5 upgrade to stylis 3, but stylis is **only used for experimental preprocesing**.

Apart from that, if the same bug manifests in two different versions, it's still the same bug :wink:

[2017-06-25 11:28] gregberge opened #63 "Add changelog"
I think you could add a changelog, you can use `mversion`, and `conventional-github-releaser`. It's pretty easy to setup. An example : https://github.com/smooth-code/loadable-components/blob/master/.mversionrc

I can submit a PR if you agree with the idea.

[2017-06-25 19:15] yn5 commented on #52
@philpl (and others) I've replaced my use of
[code]
with
[code]
to overcome this issue for now. Is there any downside to this I might be overlooking?

[2017-06-25 20:32] philpl commented on #52
@yn5 This will create a second separate class on the extending component, instead of a new ones with the old rules copied over, but it should still work fine, considering that it's the pattern we recommended in v1

[2017-06-25 23:50] felipeko opened #64 "Contextual Overrides do not work with preprocess"
Hello, using preprocess for this code:
[code]
Will generate the following error:
![image](https://user-images.githubusercontent.com/472649/27520713-9eb296ac-59e7-11e7-86ec-686714f3ec6f.png)

Here's the code generated when preprocess is on:
[code]
And when preprocess is off:
[code]

[2017-06-26 00:14] philpl commented on #64
Thanks for the note, since for v3 all this stuff will be refactored, this should be gone by then :wink: I'll put it on my list.

Also, my mandatory note on each issue related to preprocessing: It's experimental and not to be used in production apps. (Although I'm thankful for every bug report, sine those will make stabilising it way easier :+1:)

Cheers :smile:

[2017-06-26 10:33] silverlight513 opened #65 "Preprocessing mangling css"
I've got the following code using styled-components, polished and a media query function based on the one specified in the styled-components docs (https://www.styled-components.com/docs/advanced#media-templates).

[code]

When using the babel-plugin on the following settings:
[code]

It works perfectly fine and I get the expected output:
[code]

When turning on preprocessing I get the following ou

[2017-06-26 10:39] philpl commented on #65
Thanks for the report, as discussed on twitter DMs :)

Do you mind including the babel output of the js file containing the component that is being incorrectly preprocessed?

[2017-06-26 10:41] #65 closed

[2017-06-26 11:03] silverlight513 commented on #65
Thanks for the quick response!

Wrapping styles in the css helper did fix a problem where values weren't being returned (on other components) but I'm not sure it's done anything to help parsing in a this case.

I've updated the component to look like this
[code]

It's now outputting:
[code]

[2017-06-26 11:09] philpl commented on #65
Ok, so this is not doing anything. You have to wrap the return value of the clearfix function in `css`.

`css` is meant to be used for mixins. This means that any block of css in any interpolation needs to be parsable at **build time**. So this means whatever you return in `clearFix` needs to return its css inside the `css` helper.

E.g.:

[code]

The media helper is looking fine, assuming you upd

[2017-06-26 19:27] rtymchyk opened #66 "Invalid checksum"
I am using the babel plugin `1.1.5` with styled components `2.1.0`. I have placed a `ssr: true` in both the client and the server babel configs.

However, I always see this mismatch in checksum:
[code]

This tells me that the plugin is enabled for both the client and server, but the client consistently has this `__default` string as part of the class name. Where is this coming from?

[2017-06-26 21:27] philpl commented on #66
Hm, can you try disabling the `displayName` option? It seems that something is leaking into the name there. Maybe the transpilation is not identical, and it's using default from `export default` or sth?

Also, currently the plugin doesn't support `withComponent` and `extend`. This will be added with the changes in v3

[2017-06-27 00:08] chhuang opened #67 "Conflict with 'babel-plugin-add-react-displayname'"
This works (it shows the component's name):

[code]

This doesn't:
[code]

[2017-06-27 00:21] philpl commented on #67
It's likely a bug with their plugin, since with SC we're not giving the plugin any components to target. I'm not quite sure what it even does and how it works, but I'm pretty sure you won't even need it.

So for SC we have our own `displayName` option.

For functions as pure functional components, the devtools are going to display the function name as the component name: `function ComponentName ()

[2017-06-27 00:21] #67 closed

[2017-06-27 01:17] rtymchyk commented on #66
Thanks for your reply @philpl I don't use those methods from the API, but you have me an idea to try. Will get back to you.

[2017-06-27 04:50] probablyup opened #68 "Deduplicate rules when using extend"
Feel free to close this if I'm wrong, but it seems like when a styled component is extended, the new styles are simply appended to the end of the original styles.

It would be cool if this babel plugin could dedupe staticly defined properties that have multiple instances within the same styling context.

[2017-06-27 09:50] philpl commented on #68
It's impossible to do this, since we don't have access to all parents and mixins during the runtime. So I'm going with the Proof of concept preprocessing concept and building on it for v3. One that doesn't make any assumptions and makes it unnecessary to "break out" of a css context that needs to be processed.

For the ISTF standard I wrote down a summary which should make it clear why we can't do

[2017-06-27 09:50] #68 closed

[2017-06-27 21:04] chrisvoll opened #69 "Minification strips whitespace for wrapped lines"
### Context

[Prettier 1.5.0](https://github.com/prettier/prettier/releases/tag/1.5.0) introduces support for formatting styled-components output. One of the changes it makes is wrapping long lines to the next line.

The minification setting in `babel-plugin-styled-components` strips out this whitespace entirely.

### Test Case

Input `test.js`:

[code]

[code]

Output from `prettier test.js`, not

[2017-06-27 21:09] philpl commented on #69
Oh, jeeeeez. Thanks for spotting this edge case :smile: I'll see what I can do

[2017-06-27 21:11] chrisvoll commented on #69
thanks @philpl! Let me know if there's anything else I can help with!

[2017-06-27 21:48] philpl commented on #69
@chrisvoll This PR should fix it. Wanna take a look whether it works for you? https://github.com/styled-components/babel-plugin-styled-components/pull/70

[2017-06-28 14:10] philpl commented on #69
Published in 1.1.6

[2017-06-28 14:10] #69 closed

[2017-07-01 00:36] ckknight opened #71 "styled-components/native support"
As-is, this plugin does not appear to detect usages of `styled` when imported from `styled-components/native` instead of `styled-components`.

[2017-07-09 05:19] ImanMh commented on #14
I want to switch one of the biggest Food Delivery startups in Iran to styled components but not having source maps is the reason I'm hesitating. Could you give me an update about the status of this feature or a rough estimate of it's release date?

[2017-07-10 02:06] mxstbr commented on #14
You can calculate the release date with a simple formula:

[code]

So I guess you better get going? 😉 (that's a snarky way of saying nobody's working on this right now because we all have full-time jobs but we'd love to have it so if you want to contribute to the ecosystem that's a great start and will make tons of peoples lives better!)

[2017-07-10 07:21] ImanMh commented on #14
First I need to make sure it's on the road map. Sure I would like to work on it but first I need to know how to do this since I never wrote a source map maker for any project. If you have information about where this info can be found please let me know.

[2017-07-10 11:10] rohmanhm commented on #52
I'm using `styled-components` for simple use. But got same error.

![image](https://user-images.githubusercontent.com/7524911/28015625-fb4d67b6-659a-11e7-8d93-88f2037ba338.png)

I'm using Next.js + styled-components, and I already followed tutorial from examples `with-styled-components` but still get the error message.

[2017-07-10 19:35] mxstbr commented on #14
See here for some starter pointers: https://github.com/styled-components/styled-components/issues/827#issue-231139547

Definitely on the roadmap, again we'd love to have this!

[2017-07-10 21:36] philpl commented on #14
Preprocessing will change btw (part of the babel plugin might not make it into v3). so don't focus on that too much :)

But if you did, that'd also be helpful since I don't know much about source mapping either ^^ thanks

[2017-07-10 21:58] andrewtpoe opened #73 "Component display name appears twice in single CSS class"
When using `babel-plugin-styled-components`, the display names in the identifying CSS classes are being doubled up. It appears this problem may actually go deeper and be caused by the display names themselves being doubled.

This screenshot is from the React dev tools of [a very simple app](https://andrewtpoe.github.io/sc-babel-bug/) I put together to demonstrate this problem. You can find the cod

[2017-07-10 22:12] mxstbr commented on #73
@philpl any ideas why this is happening? I'm assuming it's not intended.

[2017-07-10 22:19] andrewtpoe commented on #73
Definitely not intended. I don't have any ideas concerning it yet. It appears to happen even with the most basic config.

[2017-07-10 23:47] philpl commented on #73
It is actually intentional. The `displayName` includes both the guessed component name and the filename: https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/displayNameAndId.js#L39

[2017-07-11 00:40] andrewtpoe commented on #73
Is there a way to bypass that behavior? It is very unexpected and undesired.

[2017-07-11 01:23] philpl commented on #73
@mxstbr that sounds like a good solution here. Shouldn't be hard to add :) Any takers? Otherwise I'll do it when I have time

[2017-07-13 12:45] bramschulting opened #76 "`preprocessor` adds extra className when using templated media queries"
I ran into an issue when implementing the templated media queries [as explained the styled-components/styled-components repo.](https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#more-powerful-example)

If I enable `preprocess`, the classNames is added before the media query:

[code]
![screen shot 2017-07-13 at 14 40 57](https://user-images.githubusercontent.

[2017-07-13 13:41] philpl commented on #76
This is expected. The example hasn't been changed to cater for preprocessing since it's still experimental. In v3 it's going to be completely rebuilt from scratch.

If you'd like it to work you'll have to use the css helper inside the media functions and don't just pipe through all arguments

[2017-07-13 13:41] #76 closed

[2017-07-13 13:42] philpl commented on #76
https://github.com/styled-components/babel-plugin-styled-components/issues/65

[2017-07-17 15:38] evan-scott-zocdoc commented on #44
@philpl I'm running into this too - the option to enable `displayName` with `ssr` on would be greatly appreciated.

[2017-07-17 16:20] #44 closed

[2017-07-17 16:22] philpl commented on #44
@evan-scott-zocdoc this was actually resolved a longer while ago and released with v2 https://github.com/styled-components/styled-components/pull/821

[2017-07-17 16:37] evan-scott-zocdoc commented on #44
Oh weird... okay I'll look again.

[2017-07-18 02:27] ccuilla commented on #52
FYI: I'm getting this also even though I'm not (explicitly) using `.extend` or `.withComponent`.

Just basic styles like:

[code]

Using `styled-components` 2.1.1 and `next.js` 2.4.7.

Also I've *not* added `babel-plugin-styled-components` to my `.babelrc` file.

Since this is expected to be fixed in v3, do you guys have a roadmap for v3 yet?

[2017-07-18 04:08] rohmanhm commented on #52
@ccuilla are you using TypeScript? If yes, just changing something like this in your `tsconfig.json`.
It works for me.
[code]

[2017-07-18 04:27] mxstbr commented on #52
@ccuilla yeah you have to use the Babel plugin to get consistent class names across the server and the client.

[2017-07-18 12:52] ccuilla commented on #52
@mxstbr Thanks. I've added:

[code]

[2017-07-18 16:31] evan-scott-zocdoc commented on #52
@philpl Is there a tentative timeline for v3? We're using extend and withComponent in a lot of places and I'd rather not have to go back and change them all if possible. I ask because v2 ended up being a while, though a great release :)

[2017-07-18 17:38] philpl commented on #52
@evan-scott-zocdoc I have a small spec / roadmap document over here for what the project concerning v3 looks like: https://gist.github.com/philpl/e05ff063869c096a7a9795ca95769576

I haven't attached any dates to it yet though for the simple reason that I'm neither working on it full-time, nor predictably regularly. Based on the progress I've made it should be safe to say that it won't take half a

[2017-07-18 17:45] quentin-sommer commented on #52
@philpl how can I get involve in this? I'm really interested about the css in js topic, do you have a place where you exchange specifically about this?

[2017-07-18 18:37] philpl commented on #52
@quentin-sommer you can always join a discussion on spectrum or read up on the ISTF spec (https://github.com/cssinjs/istf-spec), or check out the current proof of concept preprocessing in the babel plugin, or Emotion's preprocessing. However, the new code is going to be quite a bit different, and it's going to take a while to write a CSS ISTF parser, which is the biggest chunk of work for this pro

[2017-07-18 19:35] quentin-sommer commented on #52
@philpl Thanks for the pointers! I'll catch up with all this, really looking forward improving the css in js state  !

[2017-07-18 21:46] rtymchyk commented on #66
So the issue was that we have components that look like
[code]

For now I'm just assigning it to a const and export that instead.

[2017-07-18 22:23] philpl commented on #66
Ah, it seems then that we're not falling back to attaching a componentId based on the filename only. Something to look into, I suppose

On the other hand, generally it's not a good idea to directly export unnamed components. Exporting arrow functions without a name for example will lead to nameless components

But anyway, I'll have a quick look and see if there's any obvious problems in the plugin

[2017-07-19 01:08] ccuilla commented on #52
So here's where I am:
[code]

My `.babelrc`:
[code]

Simple list style:
[code]

And I'm getting this error:

[code]

Is it possible I still have something configured wrong here or, maybe, this problem goes beyond just using `extend` and `withComponent()` (or, maybe, those are the root problem and are being used below the sheets for the standard `styled.element` function)?

[2017-07-20 14:50] stevegeek commented on #52
@ccuilla I have had the same issue in my project, I added styled-components to an existing v3 `next.js` app, set up based on the example in the `next.js` repo but the SSR option is not taking effect, nor the displayName option.

I have stepped through the plugin  in my app (cleared `node_modules/.cache` first) and found that the `isStyled` detector method always returns false (https://github.com/s

[2017-07-21 10:48] stevegeek commented on #52
Think I have got to the bottom of this from my point of view:

I am using TypeScript and the compiler is configured to emit JS in `commonjs` module format outputs (avoiding the need for further JS source transformation). However seems like this plugin is expecting to have the JS source in `es2015` module syntax (eg use of `import` keyword https://github.com/styled-components/babel-plugin-styled-co

[2017-07-21 14:40] rohmanhm commented on #52
@stevegeek Why don't you set `"jsx": "preserve"` to `"jsx": "react-native"`. You don't need to rename all `.jsx` files to `.js`. It's automatically convert `.tsx` to `.js`

[2017-07-21 14:50] stevegeek commented on #52
@rohmanhm Sorry yeah of course, just need `react` or `react-native` to get none JSX output

[2017-07-22 19:42] ccuilla commented on #52
I had an incomplete `.babelrc` configuration:

[code]
vs.

[code]
The second solved my problems. Now, I'm not using `.extend` or `withComponent()` and it sounds like those are still know and open issues.

Happy that I can move forward on this. Thanks to all for the help.

[2017-07-25 15:50] neoziro commented on #66
@philpl I need this, can I help?

[2017-07-25 18:48] philpl commented on #66
@neoziro It's not possible to make this work with our current set-up of `withConfig`. It's going to change completely in v3 with a new architecture and core library for preprocessing, so we won't be tackling this right now.

If you need a workaround, you should be able to set your own component id for now:

[code]

This might work, but I haven't tried it yet.

[2017-07-25 18:59] mxstbr commented on #66
Sure

[2017-07-25 19:15] philpl commented on #66
@mxstbr https://github.com/styled-components/styled-components/issues/1031

@neoziro If you'd still like to pick it up, here it is :)

[2017-07-25 19:22] neoziro commented on #66
@philpl thanks I will take a look as soon as possible!

[2017-07-28 10:04] neoziro commented on #66
This PR should fix it https://github.com/styled-components/styled-components/pull/1044

[2017-08-08 18:44] craig-mulligan opened #77 "How does preprocess work?"
Hi 👋 ,

I haven't had a chance to look at the code but thought i'd reach out of an explanation in case it's quicker. I was reading https://github.com/styled-components/styled-components/issues/59, because I'm interested in performance enhancements that could be made by exporting static styles for the browser to cache and only parse dynamic styles. It sounded like some json representation was discu

[2017-08-08 19:58] philpl commented on #77
So some quick intro points :)

- The preprocess feature here is only a proof of concept
- Actual preprocessing is going to be implemented in v3 using a "core library" (which might be shared with emotion and others)
- The new preprocessing is going to use ISTF, which is a representation of CSS including JS interpolations
- Splitting static styles and dynamic styles is not possible for styled-compon

[2017-08-08 19:58] #77 closed

[2017-08-10 06:36] wmertens commented on #56
@philpl I see that stylis supports minification - why not defer the minifying to stylis?

[2017-08-10 09:50] philpl commented on #56
@wmertens the main reason was to get rid of comments really. Also stylis is currently only in use for preprocessing. I'm really just deferring all of this in v3, where we'd get this stuff for free anyway ^^

[2017-08-10 10:56] wmertens commented on #56
V3 of the plugin? Can I beta test it?

On Thu, Aug 10, 2017, 11:50 AM Phil Plückthun <notifications@github.com>
wrote:

[2017-08-10 10:59] philpl commented on #56
@wmertens It's still far down the line, and tbh I'm struggling to find enough time to work on it. I've got a small overview of it here: https://gist.github.com/philpl/e05ff063869c096a7a9795ca95769576

I'll need a lot of help once the ISTF CSS parser is done :)

[2017-08-11 15:14] craig-mulligan commented on #77
@philpl thanks a stack for the explanation!

[2017-08-15 15:33] zentuit opened #78 "Next.js: `TaggedTemplateExpression` not run when `env`s are defined in .babelrc"
I'm seeing something very strange and I don't know why its happening.

If you have a `.babelrc` file defined as so:
[code]
then when you build the app, the `TaggedTemplateExpression` part of `babel-plugin-styled-components` is never called. That results in code that looks like this:
[code]
rather than the expected:
[code]

I replicated it using Next.js example [`with-styled-components`](https://gi

[2017-08-15 15:43] philpl commented on #78
I think it’s caused by the plugins order of execution i.e. our Babel plugin is run last in this case. It’s probably not sth we can fix. I’m wondering if the property order matters here? XD

Either way, you can just add the plugin to the envs and that should work

[2017-08-15 15:52] zentuit commented on #78
@philpl : I can confirm that moving the plugin to the envs works. Thanks!  Hopefully this will help others who may stumble upon the same thing.

[2017-08-15 16:10] #78 closed

[2017-08-17 05:02] bliitzkrieg commented on #52
@ccuilla Is that the only change you made to stop getting the error? I have a nextjs project as well and im getting this error. I followed the instructions on the examples. I'm not using JSX, `.extend` or `withComponent()`.

My config is the following:

[code]

[2017-08-17 09:34] #52 closed

[2017-08-17 09:36] philpl commented on #52
I’m closing this as this issue is resolved in the latest version of styled-components (not the Babel plugin, since it’s a patch on styled-components)

Note that if you’re experiencing configuration issues **it’s in no way related to this issue**

@bliitzkrieg in this setup the plugin runs after the ones in the env presets. You have to add the plugin to your env plugins property to make it work

[2017-08-17 12:33] bliitzkrieg commented on #52
@philpl That fixed the issue for me! Thanks so much

[2017-08-18 07:52] BjornMelgaard commented on #52
@philpl , hi, can you help, I changed [babelrc](https://github.com/BjornMelgaard/ran/blob/styled-components-reload-fix/.babelrc) like you and @bliitzkrieg [said](https://github.com/Sly777/ran/issues/120#issuecomment-323230154) but it didnt help

P.S. im using `styled.extend`

[2017-08-18 08:25] BjornMelgaard commented on #52
@philpl [minimal example (its with-styled-component next example)](https://mega.nz/#!o8cESJaC!hy319-Vn5VIfpHeJSteHlR9n0kWFjRMDfevEVAdXbm4)
I have added styled.extend and on page reload I get same error

[2017-08-18 08:41] philpl commented on #52
@BiornMelgaard please open a new issue as this is not related to this one ;)

[2017-08-18 09:25] srghma opened #79 "SSR with styled.extend throws error"
[minimal example (its with-styled-component next example)](https://mega.nz/#!o8cESJaC!hy319-Vn5VIfpHeJSteHlR9n0kWFjRMDfevEVAdXbm4)

What I do
1. yarn run dev
2. load page
3. reload page

Get error

[code]

[2017-08-18 09:25] BjornMelgaard commented on #52
@philpl done https://github.com/styled-components/babel-plugin-styled-components/issues/79 ;)

[2017-08-18 09:56] niklasgrahl opened #80 "displayName and filenames with dots"
If the filename for your styled-component is e.g. countdown.styled.js you get a classes like "countdown.styled__Item-xwcjw2-1 ellRMD". Since this contains a dot it breaks references to that component.

Example:
[code]

The example works with displayName: false but not with displayName: true.
Removing the dot from the filename also fixes the problem.

I suggest stripping dots and other reserved cha

[2017-08-18 12:31] mxstbr commented on #79
Thanks for the reproduction, appreciated!

[2017-08-18 16:02] BjornMelgaard commented on #79
@mxstbr will do whatever to get this fixed ;)

[2017-08-18 23:02] hmontes commented on #79
Same error using this tutorial:

https://medium.com/styled-components/building-a-blog-with-next-js-359cf1236574

[2017-08-20 03:47] probablyup opened #81 "Bug with custom default import name + component selector"
[code]

Results in the error `"TypeError: Cannot call a class as a function"`.

[2017-08-20 05:53] mxstbr commented on #81
A dang, I had that fixed for a while but it seems like that code went missing somewhere!

[2017-08-20 06:22] probablyup commented on #73
@philpl is this fixed? https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/displayNameAndId.js#L40

[2017-08-20 06:23] probablyup opened #82 "Should SSR be on by default?"
I was thinking about it and it seems like this would be a sensible thing to enable by default.

[2017-08-20 06:29] mxstbr commented on #82
How so? I think most people are using this plugin to get the minification and the nicer class names, I doubt a majority of them do SSR?

[2017-08-20 06:30] mxstbr commented on #73
Yes, thank you!

[2017-08-20 06:30] #73 closed

[2017-08-20 06:32] probablyup commented on #82
That's probably true, but I guess what would be the downside?

Off the top of my head, it seems like it would be useful for testing. Especially if people use snapshot tests, since the hash should stay consistent?

[2017-08-25 19:18] nialloc9 commented on #79
Same issue here.

[2017-08-27 13:19] #80 closed

[2017-09-05 20:49] patrickkempff commented on #71
+1 for displayName debugging

[2017-09-08 06:52] piteer1 commented on #66
@neoziro @philpl Is it already in the latest release? I have similar issue when using babel plugin `1.2.0` and styled components `2.1.2` also with `ssr: true`. I'm getting this issue only when exporting styled component as default and using `className` prop, for example, this doesn't work:

[code]
and gives diff in class names:

[code]

But just assigning it to a variable will work correctly:

[co

[2017-09-08 08:16] neoziro commented on #66
@piteer1 I think it's a bug. But I recommend you to assign a variable first to have a correct displayName in React debugging tools.

[2017-09-08 16:09] rtymchyk commented on #66
@piteer1 ☝️  I started to name exports to get around the error.

[2017-09-08 16:10] mxstbr commented on #66
This sounds like a bug @piteer1, would you mind submitting that code as a failing test as a PR so we can reproduce & fix it? Thanks!

[2017-09-08 19:06] piteer1 commented on #66
@mxstbr What's the expected `displayName` for a component in that case? With `__default` or without it?

[2017-09-08 19:23] mxstbr commented on #66
Without it I think, but check existing tests first!

[2017-09-08 21:09] piteer1 commented on #66
For now I'm struggling to make a failing test as everything looks to be working fine even with default export. I think this is related to Webpack and the differences how it transpiles code for a web vs node. In client I'm getting:

[code]

But the node target output  looks a little bit differently:

[code]

It's probably because of assignment `var _default = Object(...` in Webpack's generated code

[2017-09-09 16:27] mxstbr commented on #66
Can you maybe submit those two generated code snippets (or a small version of them that reproduces the problem) as tests? That way we can make sure they align when we choose the variable names!

[2017-09-10 08:56] neoziro commented on #66
@piteer1 @mxstbr A quick workaround could be ignoring "_default" as display name.

[2017-09-10 08:57] neoziro commented on #66
Not very very clean, but the most efficient I think.

[2017-09-10 16:31] piteer1 commented on #66
@mxstbr Sorry for late answer, but I wanted to know what exactly causes this behavior. It is React Hot Loader plugin that does this transformation with `var _default`. I was able to create a failing test at last: https://github.com/styled-components/babel-plugin-styled-components/pull/86

Because it only happens when this plugin is attached, I'm not sure if it should be considered as a bug in this

[2017-09-10 19:18] neoziro commented on #66
React Hot Loader is widely used, so I think we should ignore _default, it costs nothing.

[2017-09-10 20:10] philpl commented on #66
@mxstbr @piteer1 @neoziro I've taken a look at the failing test and the problems seem to be:

- No name (variable name) is given to the `StyledComponent`. This is generally bad practice as we're enforcing that every presentational component has a name.
- The order of the plugins might be relevant (See below for an explanation)

So to the order of the plugins, what is happening is:

1. We detect th

[2017-09-11 06:47] piteer1 commented on #66
@philpl yeah, the warning would be great and for me it would be the best solution for this problem.

[2017-09-11 10:02] mxstbr commented on #66
I think the warning makes it sound as if you shouldn't `export default` any styled components, which isn't really the case. We should warn something like

[2017-09-11 10:52] piteer1 commented on #66
@mxstbr about the plugins order, I didn't see any difference whether I had in `.babelrc` `react-hot-loader/babel` as first or last one in plugins array. The result was just the same. In the test I've posted hot-loader was after your plugin:

[code]

[2017-09-11 11:09] philpl commented on #66
@mxstbr Yea, I think your message is also a bit ambiguous as it doesn't hint at the correct solution — assigning the component to a variable.

@piteer1 Regarding the ordering issue, it's supposed to run **before**. But I feared as much. We might not be able to change the ordering completely, since it could just be caused by the AST structure. I'm not to familiar with the order of execution of Babe

[2017-09-11 11:32] rtymchyk commented on #66
@philpl Yes, order enforcement of when babel plugins execute is not really possible. http://thejameskyle.com/babel-plugin-ordering.html

[2017-09-11 11:35] neoziro commented on #66
Warning sounds good.

[2017-09-11 15:48] mxstbr commented on #66
Okay, two things:

1. We need to mention that we can't fix this and it's an issue with how certain Babel plugins (like `react-hot-loader`) change exports around.
2. Let's add a long message with code examples to the website under FAQ and link to it from the warning. ("Why am I getting checksum mismatches when server-side rendering?" or smth)

Text for the warning:

Code examples:

[code]

[2017-09-11 15:55] philpl commented on #66
@mxstbr

I didn't even think of this. That's PERFECT! :heart:

[2017-09-17 18:37] SerhiiBilyk opened #87 "Component name does not show"
//.babelrc
{
  "presets": ["es2015", "react","env"],
  "plugins": [
    ["styled-components-named"]
  ]
}
//react DevTools
instead of <ComponentName> there are 'styled.div'
Also doesnot work with 'babel-plugin-styled-components'

[2017-09-17 18:39] mxstbr commented on #87
You have to use `babel-plugin-styled-components` (`styled-components-NAMED` was turned into this one) and `styled-components` v2.x.

[2017-09-17 18:39] #87 closed

[2017-09-17 20:01] SerhiiBilyk commented on #87
"styled-components": "^2.1.2",
  "babel-plugin-styled-components": "^1.2.0",
//babelrc
{
  "presets": ["es2015", "react","env"],
  "plugins": [
     ["babel-plugin-styled-components"]
  ]
}
And still does not work

[2017-09-18 04:52] mxstbr commented on #87
I'm afraid I can't replicate this, it's working perfectly for me. What does your component look like?

[2017-09-18 06:02] SerhiiBilyk commented on #87
This is my simple component, I see Face component in React DevTools, but I don't see 'FaceWrapper'& 'FaceImg'. I'm not expirenced developer as you and maybe I'm doing something wrong.
https://github.com/SerhiiBilyk/webpack_boiler/blob/develop/src/client/app/components/question/Comment/Face.jsx
Thank you

[2017-09-18 08:30] philpl commented on #87
The webpack config in your repo contains a Babel config already, which is probably what confused you

[2017-09-18 09:25] SerhiiBilyk commented on #87
@philpl thank you very much, as I said I have not much experience with react&webpack
@mxstbr sorry for issue :)

[2017-09-26 09:07] achingbrain opened #88 "Missing babel-types dependency?"
I'm building a [storybook](https://github.com/storybooks/storybook) based module and coming up against this error:

[code]

It looks like `/src/visitors/minifiy.js` does indeed try to [import `babel-types`](https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/minify.js#L1) but the dependency is missing from this module's `package.json` file.  Any chance of a

[2017-09-26 09:12] mxstbr commented on #88
PRs welcome!

[2017-09-26 09:20] achingbrain commented on #88
Touché.

[2017-10-02 10:18] romellogood commented on #47
Closing. I am no longer seeing this issue in 2.2.0

[2017-10-02 10:18] #47 closed

[2017-10-03 11:42] achingbrain commented on #88
@mxstbr you're probably busy but is there any chance of merging that PR?  Thanks in advance..

[2017-10-03 13:14] #88 closed

[2017-10-03 13:14] mxstbr commented on #88
Publishing

[2017-10-06 11:06] fatfisz commented on #79
I'd like to tackle this, but first I have to "fix" all the other tests - I'm working on Windows and maybe that somehow contributes to the fact that the ids are different in every case.

<details>

    @@ -1,26 +1,26 @@
     import s from "styled-components";

     const Test = s.div.withConfig({
       displayName: "Test",
    -  componentId: "syqrfc-0"
    +  componentId: "pe3280-0"
     })`width

[2017-10-06 11:17] fatfisz commented on #79
That was easy: when calling `'string'.replace(something, other)` only the first occurrence of `something` will be replaced. Will change that to `RegExp` with the `global` flag.

[2017-10-06 11:48] philpl commented on #79
If there's any new issue with mismatching server/client classnames, please open a new issue, as the root cause has been identifier and fixed by @fatfisz :wink::+1:

[2017-10-06 11:52] mxstbr commented on #79
Wait I think he just fixed the tests on Windows, not the SSR issue?

[2017-10-06 12:09] philpl commented on #79
@mxstbr wasn't this the fix? https://github.com/styled-components/babel-plugin-styled-components/pull/92

[2017-10-06 12:14] mxstbr commented on #79
Yeah but a fix for running the tests on Windows

[2017-10-06 13:37] fatfisz commented on #79
Yup, sorry for the mess. I should've opened another issue or just not write off-topic info here.

[2017-10-06 16:09] fatfisz commented on #79
So I think the only problem is with detection. Basically, while it's easy to check that we have ``styled.div` ` `` and that `styled` is imported from styled-components, it's close to impossible to check that ``Compote.extend` ` `` is a candidate for `withConfig` - we don't know if `Compote` is in fact a styled component.

I have a solution, but it looks so awful that I'm not sure it's ok to implem

[2017-10-06 16:20] fatfisz commented on #79
@philpl I just noticed this comment: https://github.com/styled-components/babel-plugin-styled-components/issues/66#issuecomment-311187106. Could you describe what the changes will be that will enable `withComponent` and `extend` to be handled by the plugin?

[2017-10-06 16:27] philpl commented on #79
@fatfisz those changes will need some major refactors on the plugin and the library, so don’t worry about them yet ;)

.extend and .withComponent are indeed not detected but we did introduce some code before that modifies the new component’s names deterministically using the old one’s.

Maybe there’s a bug there?

[2017-10-06 16:32] philpl commented on #79
Found it :)

We’re doing it for withComponent: https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L263

But not extend: https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L285

Also the withComponent componentId generation won’t work for anonymous components (pure functions)

@mxstbr @geelen this actually a

[2017-10-06 16:33] fatfisz commented on #79
So a quick fix would be possible then?

[2017-10-06 16:34] fatfisz commented on #79
Anonymous functions are not a problem for me, so passing the componentId in `extend` would be a huge win for me already.

[2017-10-06 16:34] philpl commented on #79
@fatfisz it won’t be quick but .extend will need to somehow use the rule’s signature to compute a componentId and withComponent will need to ensure that there’s some componentId on the target component

[2017-10-06 18:29] philpl commented on #79
@fatfisz sure! That’d be amazing

[2017-10-08 22:13] fatfisz commented on #79
@philpl I overestimated the time that I needed to understand what's going on under the hood and as I'll have even less time during the upcoming week, I won't be able to work on this :(

[2017-10-10 17:36] zapkub opened #93 "Support require() calls"
## Plugin will not work properly with Typescript

from https://github.com/styled-components/styled-components/issues/1168#issuecomment-335465598 (Include workaround)

`import` default in Babel and Typescript have a little different. The result of Typescript come with `.default`

## Reproduce
1. Clone this repo https://github.com/zapkub/nextjs-typescript-styled-component
2. Modify `index.tsx` line

[2017-10-11 11:03] herrkris commented on #93
I did some digging and I think the problem is that in [importLocalName](https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/utils/detectors.js#L4) function the `imports` array is empty, because TypeScript already compiles the imports to require calls.

You can modify the `tconfig.json` to workaround that problem and let babel to the transpiling of the imports. I [fo

[2017-10-11 13:13] zapkub commented on #93
@herrkris Yes !! the problem is solve after I change module config ( from `commonjs` to `es2015` )

but another problem is I use babel only on client script so it broke my native.

so I need to setup my babel in server side too for this workaround

[2017-10-11 13:28] mxstbr commented on #93
Yeah, we should handle `require`s too!

[2017-10-11 13:29] mxstbr commented on #93
I've updated the issue title and labels, a PR that implements `require` support would be much appreciated!

[2017-10-16 10:37] justim commented on #57
Maybe this is already fixed for @lumio, but the problem seems to be that the `.babelrc` is invalid. The `styled-components` entry should be a single entry in the `plugins` entry.

[code]

[2017-10-16 11:11] lumio commented on #57
@justim thanks. Just a small mistake I haven't seen.
I'm using another plugin though for typescript now that works just fine

[2017-10-16 11:11] #57 closed

[2017-10-18 21:09] zalishchuk opened #96 "Doesn't work in babel v7.0.0-beta.3 due to a breaking change"
In [babel v7.0.0-beta.3](https://github.com/babel/babel/releases/tag/v7.0.0-beta.3) `metadata` properties were removed [#6343](https://github.com/babel/babel/pull/6343).

[Code that needs to be changed](https://github.com/styled-components/babel-plugin-styled-components/blob/439c0ed33336c06e73ee03f34c1f00fb44fb8aab/src/utils/detectors.js#L4).
[code]

[2017-10-19 09:36] #93 closed

[2017-10-22 19:14] zalishchuk commented on #96
Any progress on this?

[2017-10-22 19:22] #96 closed

[2017-10-25 06:23] probablyup commented on #14
@tkh44 recently did this for emotion if a potential contributor needs some inspiration: https://github.com/emotion-js/emotion/pull/320

[2017-10-25 09:42] lumio commented on #14
Is anyone already working on that? Otherwise I might look into that the next few weeks

[2017-10-25 09:52] philpl commented on #14
@lumio Hiya, no one is working on it yet afaik, so it’s be great if you can lend us a hand 😀

[2017-10-25 11:48] mxstbr commented on #14
@lumio yes please!! :tada:

[2017-10-26 15:25] codename- commented on #96
Any ETA on npm release of this fix?

[2017-10-26 15:29] mxstbr commented on #96
On it, totally forgot! 🙈

[2017-10-26 15:36] mxstbr commented on #96
Released in `v1.3.0`!

[2017-10-27 10:30] zeemawn opened #102 "Exporting a styled component as default leads to `Prop `className` did not match.`-Warning"
Referenced from https://github.com/styled-components/styled-components/issues/1272

## Version
2.2.2
babel-plugin-styled-components: 1.3.0

## Reproduction
Exporting a styled component as default leads to `Prop `className` did not match.`-Warning

https://www.webpackbin.com/bins/-KeeZCr0xKfutOfOujxN
https://codesandbox.io/s/rkmNRByE4

## Steps to reproduce
Create a JS-file, e.g. named "Flex.js" in

[2017-10-27 12:44] philpl commented on #102
I think we'll need some more information here:

- Is there anything specific to the exported component (a code snippet would be amazing)
- What's the babel config and transpilation setup? i.e. does it run before the modules plugin
- Is the SSR option turned on (looks like it is)

[2017-11-02 16:41] christiannaths opened #103 "Cannot comment out styles with interpolated values"
_originally filed here_ https://github.com/withspectrum/react-app-rewire-styled-components/issues/6

# Problem

When commenting out an interpolated value from within a styled component, an error is thrown:

[code]

# Steps to reproduce

**Create a new app**
[code]

**add plugin to webpack config**
[code]

**start**
[code]

**Create a styled-component that uses an interpolated prop value**

[code]

[2017-11-02 16:42] philpl commented on #103
I think this is a bug with the `minify` option, so if you turn it off, that should work for now.

[2017-11-02 16:47] christiannaths commented on #103
Ah, right you are! Thanks, at least that gives me a workaround for now 👍

[2017-11-03 18:02] evan-scott-zocdoc commented on #79
Is there a plan to tackle this soon @philpl? It happens quite a lot in our projects.

I'd be willing to try and help, but TBH I don't really understand the context of the proposed solution well enough to do an implementation.

[2017-11-03 19:00] philpl commented on #79
@evan-scott-zocdoc I actually realised that my workaround would not be performant. So we might have to “scrape” at some v3 ideas and wrap all tagged template input in a wrapper that can be produced by a factory function and carries componentId information around with it.

I’m not sure when I’ll have time to work on this unfortunately

[2017-11-09 10:40] RamIdeas opened #105 "File hash in displayName is too fragile"
Using a hash of the file contents when generating the displayName causes snapshot tests to fail frequently and unnecessarily. Changes to my files that don't effect the component require me to update my snapshots - the false negatives kind of make them redundant.

I assume the reason for the file hash is to make the class name unique, as 2 components could possibly have the same name.

Would it not

[2017-11-10 00:01] philpl commented on #105
This is why we have: https://github.com/styled-components/jest-styled-components

[2017-11-10 01:55] geelen commented on #79
Just caught up on this issue, sorry for my extended absence.

Just to summarise, to see if I'm reading this right, @philpl:

- Deterministic `componentId`s are only being injected at a `styled.*` call, not at `.extend` or `.withComponent` (because the babel plugin has no way of knowing what's a styled component or not)
- As a result, some code was added to generate unique `componentId`s at runtime

[2017-11-10 01:56] evan-scott-zocdoc commented on #79
I'm very much in favor of dropping `.extend` entirely. It's confusing.

[2017-11-10 02:46] philpl commented on #79
@geelen I do think that the point of extend is to create another component that *happens* to be a subset of the new one, and like you said:

Which they indeed don't. I feel like the biggest side effect of introducing `.extend` (and not being clear enough that styled(X) should be avoided as often as possible), indicates to most that this is a pattern that should be commonly used.

At the same time

[2017-11-10 05:40] geelen commented on #79
Oh yeah that's way better. My "variant" stuff is just that I've seen people using like:

[code]

Instead of defining a `Button` with props `primary` and `button`. It's also why I've been playing around with weird pre-compiled syntax like this:

[code]

Each of those would compile `$props.x { ... }` to ``${ props => props.x && css` ... ` }``. Basically a shorthand to get people to start thinking ab

[2017-11-10 05:58] geelen commented on #79
Also, on this, why is this? I'm kinda of the opposite opinion, that `styled(X)` is better than `X.extends` in almost all cases... 🤷‍♂️

[2017-11-10 06:02] probablyup commented on #79
I’ve asked similar questions a few times and the consensus seems to be favoring the Unix model of API design: specific, simple methods without overloading.

Agreed that simplicity is a worthy goal, but I disagree that it’s right to sacrifice DX for it, especially when many people are on record saying it’s confusing.

[2017-11-10 06:05] geelen commented on #79
Sorry, I'm a bit confused. Which do you prefer?

[2017-11-10 06:07] probablyup commented on #79
Only `styled(x)`

[2017-11-10 08:00] morajabi commented on #79
@geelen That's a bit funny (no offence) since I wrote an FAQ with @philpl here on this: https://www.styled-components.com/docs/faqs#when-should-i-use-
And we are encouraging users to use `.extends` whenever it's a styled component. Also, we do not recommend to use `styled()` on our own components and thus whenever we can not use `.extend` try to use either dynamic styling with props or writing a `

[2017-11-10 11:51] philpl commented on #79
I think since we don’t even agree internally on how to recommend it, it’s a fair assumption that the entire approach is flawed

[2017-11-10 11:51] mxstbr commented on #79
Agreed.

[2017-11-10 12:27] morajabi commented on #79
Actually, I remember when v2 was released I couldn't quite understand what is the expected behaviour of `.extend`. Although I pretty didn't fear to use for example `withComponent` I didn't use extend at all until I saw a few examples. I think the act of extending is not a bad thing or confusing but what is confusing is either naming or the way API is designed (which users can't understand whether

[2017-11-14 00:35] stephenway opened #106 "transpileTemplateLiterals not extend"
For some reason when I build a module with `transpileTempalteLiterals: true` my extends are not included in transpilation. Is this to be expected?

[2017-11-14 11:22] philpl commented on #106
Yes, those are unsupported right now by the Babel plugin which does cause some issues.

You can use styled() right now to circumvent this. We’re currently discussing how to fix this by either deprecating extend or introducing an internal APi that would make the ssr option work correctly.

If you only need extend, the option you’re using is fully optional if you’re transpiling with, for instance, B

[2017-11-14 23:38] stephenway commented on #106
I might give styled() a try, thanks for the suggestion and prompt reply!

[2017-11-20 12:12] ghengeveld commented on #79
I found this as a workaround to avoid using `.extend`. Instead of:

[code]

Use this:

[code]

Essentially you wrap the Component to be extended in another component, and target the inner element using a regular CSS selector.

[2017-11-20 18:21] yairkukielka opened #107 "Unknown plugin "babel-plugin-styled-components""
Hi, I'm having this problem in my project, using nextjs 4. In my .babelrc file I have this:

[code]

Then, I run `yarn install --production` and then `yarn build` I get `Unknown plugin "babel-plugin-styled-components"`. My objective is to have the minimum number of dependencies in my docker container for production, that's why I don't install the devDepenencies.

What I want to know is whether thi

[2017-11-20 18:26] philpl commented on #107
`yarn install --production` => this command doesn't install any `devDependencies` so I guess the issue lies there

[2017-11-20 18:31] yairkukielka commented on #107
yes, so shouldn't it be advertised as a production module? The docs state this is the way of installing it:
`npm install --save-dev babel-plugin-styled-components`

I just want to confirm whether it's not just a dev dependency. And if it's not, the docs should maybe say that this is how you install it:
`npm install --save babel-plugin-styled-components`

[2017-11-20 18:38] TrySound commented on #107
@yairkukielka It's development plugin for better dx. Just remove it from production env

[2017-11-20 18:41] TrySound commented on #107
@yairkukielka However yeah, there're ssr or minifications options for production. But it's edge case. You decide how to use it.

[2017-11-20 18:44] mxstbr commented on #107
No it should definitely be used in production.

[2017-11-20 18:45] mxstbr commented on #107
The `devDependency` vs `dependency` split doesn't really make any sense for frontend projects. That being said, the convention is to put any build tooling into `devDependencies` and everything that is actually bundled into the client-side JavaScript into `dependencies`.

[2017-11-20 18:45] #107 closed

[2017-11-21 04:45] geelen commented on #79
That'll work! But you might want to make it `> button { color: palevioletred; }` to target `button` elements _only one level deep_. Otherwise you might get some spooky-action-at-a-distance.

You can also use the `Button` styled component in this way, too:

[code]

That way you're targeting _only_ your `Button` component, not any html `<button>`

But yep, plenty of different options 👍

[2017-11-27 18:13] stephenway commented on #106
Is this a duplicate of #79? If so, I can close it.

[2017-11-27 21:40] philpl commented on #106
Oh it is indeed! Good catch :) i totally forgot about that one

[2017-11-27 21:40] #106 closed

[2017-11-29 22:49] sylvain-hamel opened #108 "plugin is unable to generate debugging class name"
We have a HOC that calls to `styled`.  We use that HOC a lot and because our components don't use `styled` directly, it seems like the plug-in is not able to generate class names based on the component name.

This code _breaks_ the plug-in:

[code]

I suppose that our HOC somehow creates the same conditions that the plug-in does not support.

Is this fixable? It there anything we can do in our HOC

[2017-11-30 09:49] mxstbr commented on #108
Hmm, I think we could support this. Mind adding a failing test case based on the other tests? That'd be super helpful, thanks!

[2017-11-30 12:06] philpl commented on #108
I think we can just target styled, css, injectGlobal, and keyframes regardless of where those variables are defined... Because otherwise the detection code would get ridiculous.

I think that'd be a fair assumption to make. Wdyt, @mxstbr?

[2017-11-30 12:18] mxstbr commented on #108
I don't understand, what does the detection have to do anything? We already check that there's an import from `styled-components` and then we check if there's a `styled()` function call? It should only be a matter of adding `.withConfig` at the end of the styled function call no matter what's inside it, I don't think this has anything to do with detection.

[2017-11-30 12:25] philpl commented on #108
@mxstbr I mean, code like @sylvain-hamel's breaks because he's presumably importing a local file instead of styled-components. So maybe we should get rid of the import/require-based detection.

[2017-11-30 12:37] mxstbr commented on #108
Sorry? He's importing from `styled-components` though? I don't 100% understand what you're saying.

[2017-11-30 12:38] mxstbr commented on #108
Oh you mean that this breaks the detection?

[code]

Possibly. @sylvain-hamel can you try making that a normal `import styled from 'styled-components'` import?

[2017-11-30 21:57] sylvain-hamel commented on #108
Hi all, I'll send a test case shortly.

[2017-12-03 20:05] AndersDJohnson opened #109 "Support global style friendly names"

[2017-12-03 20:19] #109 closed

[2017-12-06 02:16] sylvain-hamel commented on #108
Are tests supposed to run on Windows? They passed on my Mac Book but 17 of them fail on my windows computer.

[2017-12-06 03:01] sylvain-hamel commented on #108
Ok, so here is the code.

This is the HOC:

[code]

Code that uses the HOC:
[code]

And then some JSX somewhere

[code]

[2017-12-12 16:52] lgerndt opened #110 "Won't install as a plugin in webpack.base.babel.js"
Hi, while I haven't ejected, the react project I inherited isn't using react-scripts, and does provide me access to webpack configs.  So in webpack.base.babel.js I do this at the top:

`const babelPluginStyledComponents = require('html-webpack-plugin');`

And in the plugins arrays, I do this:

[code]
But attempting to build, i get this error:

babelPluginStyledComponents { default: [Function] }
/U

[2017-12-12 17:21] mxstbr commented on #110
[code]

You might wanna change that to `require('babel-plugin-styled-components')`. 😆

[2017-12-12 17:21] #110 closed

[2017-12-12 17:35] lgerndt commented on #110
sorry, I had already corrected that and still got the same problem.  Do you think it should work?

[2017-12-13 01:06] philpl commented on #110
Im not sure what you’re concatenating it to but if I read the error correctly you might be trying to use it as a webpack plugin rather than a Babel plugin.

In case that’s accidental, you will need to use the Babel-loader with webpack and let Babel load the plugin instead :)

[2017-12-13 03:57] lgerndt commented on #110
Thanks for replying @philpl. I hear you about unrelated, but I'll post what you requested (and sure appreciate you looking!)

I just learned today that our app was not a CRA app to begin with, I'm not sure that matters.

`const path = require('path');
const webpack = require('webpack');
process.noDeprecation = true;
const styleComponentsBabelPlugin = require('babel-plugin-styled-components');
modu

[2017-12-14 04:34] jaydenseric commented on #82
SSR is a best practice; tools should make SSR as easy as possible and promote it as the default approach. Opt-out instead of opt-in.

[2017-12-14 09:03] mxstbr commented on #82
I disagree, I'm fairly certain many people who use React don't do server-side rendering. It'd not a best practice at all, for some apps and use cases it's a must but for some it's totally unnecessary.

[2017-12-14 09:24] jaydenseric commented on #82
Best practice is rarely common practice. For example, most websites are not built with styled-components or even React 😉

For a user there are only upsides and no downsides to a SSR experience. Refresh a page with and without it and you can immediately see the difference. For many commercial applications like ecommerce and marketing sites SSR is not just nice but a requirement. Quality auditing to

[2017-12-14 09:38] mxstbr commented on #82
That's not true. As with everything, there's tradeoffs to doing SSR:

- Slower first paint because the server has to do more work and you can't render loading indicators
- The server has to do more work, which might lead to instability
- Until the JS bundle has loaded and rehydrated the entire app is unresponsive to user input
- User input might go missing when the app rehydrates (imagine a form w

[2017-12-20 16:33] probablyup commented on #105
@philpl I did some similar work for emotion and I'm in agreement that hashing the file contents is a bad idea. This becomes particularly visible when there's a difference in environment variable handling between client and server, which in the current algorithm would lead to a hash break.

[2017-12-20 16:35] probablyup commented on #105
Here's the algorithm used in emotion currently: https://github.com/emotion-js/emotion/blob/master/packages/babel-plugin-emotion/src/index.js#L121-L126 (note that it has the same problem as styled-components at the moment)

[2017-12-20 17:10] mxstbr commented on #105
@probablyup do you mean you implemented the same algorithm we have right now or a better one? Do you have any better ideas?

[2017-12-20 17:17] probablyup commented on #105
@mxstbr It's almost the same. I think there might be some minor differences in how the file path is normalized.

When I was working on it with @mitchellhamilton I believe the only reason why the file contents were being added to the hash were for cases when the babel plugin was being used in a virtual file system (where path might not be available.)

If that's also the case for styled-components,

[2017-12-20 18:03] mxstbr commented on #105
That sounds very reasonable. Wanna submit a patch for that?

[2017-12-20 21:11] probablyup commented on #105
@mxstbr I think https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L32 is also part of the problem. If the execution order of the components is different in a server vs client config, I believe that would cause the component # to be different and break the hash

[2017-12-20 22:31] mxstbr commented on #105
Yeah that makes sense—why do we have that in the first place? Does the blame tell you anything?

[2017-12-20 22:35] probablyup commented on #105
It was added a long time ago in https://github.com/styled-components/styled-components/commit/6e14952ad5aa160740cd52e33ff7cff7bbbfbd94. No obvious reasoning for it though. @geelen, do you remember?

[2017-12-21 11:54] mxstbr opened #114 "Add Uglify Pure comments automatically"
We should add `// #__PURE__` comments before every `css`, `styled` and `keyframes` call. This will let UglifyJS know that those functions are pure, so it can remove them if they are unused in the users application code. (essentially, better tree shaking)

This should have an option to be disabled for folks that are not using UglifyJS, probably call that option `uglify` which is set to true by defa

[2017-12-22 09:48] #105 closed

[2017-12-24 06:16] XenTerSeO opened #115 "A comment in style produces an error"
const HeaderUser = styled.a`
      font-size: 0;
      width: 42px;
      height: 42px;
      flex-shrink: 0;
      &:hover {
        border: 0;
        margin-top: -10px;
        padding-top: 7px;
        border-top: 3px solid rgb(255, 255, 255);

        /* ${HeaderAvatar} {
          border: 2px solid rgb(255, 255, 255);
        } */
      }
    `

=>

    ERROR in ./client/components/header.js

[2017-12-24 13:27] philpl commented on #115
This has been a longer standing issue as it removes the interpolation without joining the surrounding strings, if I’m not mistaken 😬

PRs welcome, but this hasn’t been a high priority before

[2018-01-05 21:51] sylvain-hamel commented on #108
I'd like an update on this issue if possible. Is the code I provided clear? Can the plug-in be modified to support that use case? Thanks

[2018-01-08 15:51] osamajandali commented on #114
I will work on this.

[2018-01-09 12:34] darkowic opened #116 "Support for babel 7"
Add support for babel 7.

Babel 7 is still in beta version but already many developers is using it - https://www.npmjs.com/package/@babel/cli

In react 16.2.0 release blog they recomend new babel version
https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html#babel

[2018-01-09 12:49] mxstbr commented on #116
Pretty sure @lixiaoyan added support for that in #84. In case you're experiencing any specific errors with Babel 7 please open a new issue with the full logs! Thanks!

[2018-01-09 12:49] #116 closed

[2018-01-09 13:09] darkowic commented on #116
Hmm ok. I posted this issue here because I saw in package.json old `babel-types` in dependencies. Now the package is in babel scope https://github.com/babel/babel/tree/master/packages/babel-types

[2018-01-09 13:14] mxstbr commented on #116
PR to move that welcome!

[2018-01-09 14:49] Andarist commented on #114
@cameron-martin has created a package which should help with detecting imports https://github.com/cameron-martin/babel-helper-references-import

[2018-01-10 10:44] osamajandali commented on #114
@Andarist This is cool, I will give it a try.

[2018-01-10 12:52] osamajandali commented on #114
I have a little problem here..
when the function is assigned to a variable UglifyJS doesn't remove it, as you can see in the next snippet.
[https://i.imgur.com/f79JsSG.png](url)

if we remove the variable it will work just fine.
[https://i.imgur.com/3v0nP5Z.png](url)

I know this is something related to uglifyjs but I just want to make sure that this is write thing to implement.

[2018-01-10 13:17] osamajandali commented on #114
As far as I understand the issue is that if we have this snippet:
![image](https://user-images.githubusercontent.com/13832392/34774441-023ce458-f618-11e7-8981-34f850e02673.png)
and we used babel-plugin-styled-components on it should output this:
![image](https://user-images.githubusercontent.com/13832392/34774519-501b213a-f618-11e7-8067-0d44cab8d03a.png)

and if you apply UglifyJS on it should rem

[2018-01-10 13:25] mxstbr commented on #114
Huh that's weird! @mitchellhamilton how are y'all doing this?!

[2018-01-10 13:33] mitchellhamilton commented on #114
I remember trying it with webpack (3 iirc) and it removed the call, I think the uglify option needed is `--pure-funcs`.

[2018-01-10 13:41] philpl commented on #114
@mitchellhamilton @mxstbr regarding webpack 3, that would totally depend on how it assumes that an imported function call is pure. I'm not sure how they're determining that right now.

[2018-01-10 13:44] Andarist commented on #114
`#__PURE__` is an uglifyJS thing and it has nothing to do with webpack.

Unfortunately webpack actually doesn't do complete tree-shaking, it just removes assignments to exports object and annotate the code with something like `/* unused harmony export */`. It's UglifyJS which does dead code elimination later (thanks to the fact that webpack has removed those exports assignments).

I think there sh

[2018-01-10 13:49] osamajandali commented on #114
@mitchellhamilton I use uglifyjs cli without webpack, and I have tried --pure-funcs and it doesn't work.

[2018-01-10 13:49] Andarist commented on #114
@osamajandali which version of uglifyJS do you test?

with the command I gave above (`uglifyjs -mc passes=3,unsafe --toplevel`) on latest version 3

for this input:
[code]
I get this output
[code]

but when I add `#__PURE__`:
[code]
the output gets blank (so it gets removed).

[2018-01-10 13:49] osamajandali commented on #114
@Andarist I works just fine, thanks man!

[2018-01-10 13:51] osamajandali commented on #114
@Andarist I used **version 3.3.5**.
Could you please point me this command documentation on uglifyjs. Thanks again

[2018-01-10 14:58] philpl commented on #114
@osamajandali I think it's not worth to investigate what happens much further. It'd be more important to add the comment first. Either way, it doesn't hurt to add it, it will only make the output more concise in some cases, whether those will be common or not 😃

[2018-01-10 15:12] osamajandali commented on #114
@philpl You are right, I have already begin.
Just curious as I spend some time searching for the solution

[2018-01-11 19:34] osamajandali commented on #114
I am done with this, I just want to make sure that I did couple of items right before I make the PR.

I have added an option called useUglifyPure which give the user the option to disable it, and it is set true by default.
I have used the package which is provided by babel as @Andarist mentioned.
Do I have to update the snapshots with the new one before the PR or just leave it with the old snapsho

[2018-01-11 19:42] mxstbr commented on #114
It'd be great to have tests which verify that it works as expected, but it's definitely not a requirement. Please go ahead and submit your PR, and we'll go from there!

[2018-01-11 20:15] osamajandali commented on #114
Cool, I will submit the PR now and keeping the old snapshots in order to help the reviewers to see what have changed.

[2018-01-11 21:52] Andarist commented on #114
Not sure if its worth testing - it would require writing an input fixture, transpiling it with babel, minifying it with uglifyJS probably with some `{ beautify: true, mangle: false }` options and then verifying the output somehow - as snapshot, checking AST or just reading the output as string and doing some indexOf check. Seems quite complicated for minimal gain, would kinda just re-test what ugl

[2018-01-12 09:07] mxstbr commented on #114
I don't care about that. I only want to test that the `#__PURE__` comments are added to the styled calls, i.e. that the Babel plugin does it's job :blush:

[2018-01-13 15:03] mattiascaricato opened #118 "Mangled CSS output when minification is turned ON"
Hey,

I'm experiencing mangled CSS results when I turn the minify option on.

This is the component code:
[code]

As you can see in the image below, when I turn on minification there are no styles applied at all:
![image](https://user-images.githubusercontent.com/4216599/34907158-09f36472-f859-11e7-8f04-3613e3f232f9.png)

And this is the output when minification is turned off
![image](https://user

[2018-01-13 15:04] mattiascaricato commented on #118
I've also tried turning on/off the `transpileTemplateLiterals` option but that's not the problem.

[2018-01-13 16:02] philpl commented on #118
It seems that after the “font” properties and the interpolation value, the semicolons are missing. It might be that stylis is not interpreting this correctly.

Have you tried adding some extra ones there?

[2018-01-13 18:58] mattiascaricato commented on #118
Thanks for the prompt response @philpl. I fixed all the CSS with the help of https://www.styled-components.com/docs/tooling#stylelint and now it's working

[2018-01-13 18:58] #118 closed

[2018-01-16 15:58] joetidee commented on #78
@zentuit Could you provide an example of where you moved it to?

[2018-01-17 00:31] philpl commented on #78
@joetidee you'll have to copy our plugin to each env unfortunately, to make sure that it keeps its precedence in the execution of all plugins correctly.

[2018-01-18 10:01] joetidee commented on #102
I am getting this error too.

[2018-01-18 10:05] joetidee opened #119 "Classnames beginning with hyphens"
I have just installed v1.4.0 and noticed that some of the classnames generated in my Jest snapshots begin with hyphens - this is the first time I have seen this. Is this correct?

Here is an example of the output:
`<strong classname="c7 -strong c8">`

[2018-01-19 13:55] philpl commented on #119
Can you file an issue at jest-styled-components? I’m not quite familiar with how their reformatting works

cc @MicheleBertoli

[2018-01-20 08:00] MicheleBertoli commented on #119
This is interesting, thanks @joetidee @philpl.
Please [open an issue](https://github.com/styled-components/jest-styled-components/issues/new) in the `jest-styled-components` repo with a minimal repro example, and I'll be more than happy to help.

[2018-01-21 15:42] cdebotton commented on #102
Also having this problem. I've noticed that the problem only seems to occur when `react-hot-loader/babel` (@next) is enabled.

[2018-01-21 22:56] probablyup commented on #102
@zeemawn You might find this helpful: https://www.npmjs.com/package/babel-plugin-transform-export-default-name

[2018-01-22 02:33] gabiseabra opened #120 "[Proposal] "id" configuration option"
Hey.
This plugin only works with `styled-components`, not other packages that export an object with the same interface. I know there aren't many, but this is causing issues with ssr in `styled-transition-group` (a package I made).
Here's the issue for reference https://github.com/gabiseabra/styled-transition-group/issues/2
Would you be accepting a PR adding an "id" option like `babel-plugin-lodash

[2018-01-22 10:59] philpl commented on #119
@joetidee I'll close this for now as I believe it's not related to the babel plugin, but Jest / jest-styled-components. Feel free to ping us here instead if you believe otherwise :+1:

[2018-01-22 10:59] #119 closed

[2018-01-22 11:02] philpl commented on #120
@mxstbr I think I've mentioned it before, and this is a tricky one 😢; The ISTF/Sweetsour project will require some strict targeting that involves targeting all kinds of tagged template literals, so stuff like our `media` helper won't work anymore, and we can provide a "plugin factory" to make this check more lenient; However, what would be more scalable would be to use the css helpers.

@gabiseabr

[2018-01-22 17:42] joetidee opened #121 "Component names in production..."
When installing this as a dev dependency, I would have expected the component names to just appear when running in dev environment. But they are also appearing in our production environment - how is this possible?

[2018-01-22 17:57] mxstbr commented on #121
That has nothing to with where you put your dependencies, but where you put it in your Babel config. You want to use the [Babel env option](https://babeljs.io/docs/usage/babelrc/#env-option) to  include the plugin in development with the `displayName` option set, and in production with it unset.

[2018-01-22 17:57] #121 closed

[2018-01-23 08:24] #114 closed

[2018-01-23 12:31] lcsrinaldi opened #123 "Option to remove file from component's displayName"
Hello! At the project that I'm currently working on we use the following structure for our components:

[code]

So far so good, this is still working like a charm. The problem is, when I use this plugin to rename all my components to a better `displayName` it takes into account the file name where the component is located, e.g.:

[code]

My question is, would be possible to remove this `indexstyle

[2018-01-23 16:10] gabiseabra commented on #120
@philpl Hey, I'm using the `styled` constructor to keep consistency and generating regular styled-components inside the `constructWithOptions` function. I don't recall ever having problems with the css helper, but I'm refactoring and my approach has changed now that styled-components won't ship with the lib folder anymore. I do intend to keep the interface as close as possible to the original. Tha

[2018-01-23 21:04] jfhector commented on #78
@philpl @zentuit I'd be really helpful to see how exactly you do this (ie 'copy the plugin to each env'). Is it something I need to do in .babelrc? An example would really help. Thanks a lot

[2018-01-25 00:01] dgcoffman opened #124 "Upgrading to 1.5.0 makes displayNames in snapshots differ on Linux vs OS X"
After upgrading to 1.5.0 from 1.1.7, our Linux builds take about 3 times as long and fail because some component displayNames differ vs our OSX local dev.

Example of difference is: previously a component would have displayName  `Flex__Flex` and now it has `Flex`.

Maybe a clearer way to say this: In our node-v8.2.1-linux-x64 build machine, upgrading from 1.1.7 to 1.5.0 changes the displayNames of

[2018-01-25 01:37] philpl commented on #124
https://github.com/styled-components/babel-plugin-styled-components/releases/tag/v1.2.0

1.2.0 introduced a slightly modified hashing strategy so this is completely expected behaviour :wink:

This seems odd however; Are you sure you have the **exact** same versions (lockfiles?) on all machines.

Also please note that 1.2.0 is a tandem release with SC 2.4.0, so please make sure both match https://g

[2018-01-25 04:00] probablyup opened #125 "Desugar styled.tag to styled('tag')"
This change will allow us to save some bundle size in styled-components and also be more futureproof, while allowing people to use the familiar syntax as desired.

[2018-01-25 11:43] philpl commented on #125
However, this will worsen the experience for CRA users as long as Babel-macros aren’t released :(

[2018-01-25 14:03] mxstbr commented on #125
How so? It would still work out of the box, the Babel plugin would replace the imports with ` from 'styled-components/no-tag-list'`. So if you're not using the Babel plugin it'll work and with the Babel plugin it'll just be smaller.

[2018-01-25 14:36] philpl commented on #125
@mxstbr Ah! Sorry, I misunderstood it as working with Emotion’s strategy

[2018-01-29 07:29] cyrus-za commented on #78
@jfhector @joetidee

Looking at the above .babelrc by @zentuit, you would change it from

[code]

*TO:*

[code]

So essentially you copy paste that `plugins` field/prop at the bottom into a prop on dev and prod env.

[2018-01-29 14:31] thomas88 opened #126 "Upgrading from 1.4.0 to 1.5.0 makes webpack builds significantly slower"
After upgrading from 1.4.0 to 1.5.0 our webpack build time increased from ~30sec to ~130sec. We're using styled-components 2.4.0 and I've also checked with styled-components 3.1.0. Any hints appreciated.

[2018-01-29 14:41] probablyup commented on #126
Fascinating! Out of curiosity, are you using the parallel mode in the
webpack uglify plugin?

I’m guessing the addition of all the “pure” comments is making uglify keep
track of far more state and slowing down that stage of the process.
On Mon, Jan 29, 2018 at 9:31 AM Thomas Obermüller <notifications@github.com>
wrote:

[2018-01-29 14:46] thomas88 commented on #126
@probablyup Not that I would no of. We're based on `react-boilerplate` and our webpack config is looking very similar to the one here https://github.com/react-boilerplate/react-boilerplate/blob/master/internals/webpack/webpack.base.babel.js.

[2018-01-29 15:11] mxstbr commented on #126
That is indeed very very curious. Can you try and see what happens when you disable the `uglifyPure` option to both the resulting bundle size and the build time?

[code]

[2018-01-29 15:43] thomas88 commented on #126
Of course, please see the outcome in following table. In short: `"uglifyPure": false` prevents the long build times.

|version|`yarn start` initial build|`yarn run build` duration|`yarn run build` size for main.js|
|-|-|-|-|
|`1.4.0`|39151ms|145.13s|5.02 MB|
|`1.5.0`|126282ms|228.53s|5.02 MB|
|`1.5.0` with `"uglifyPure": false`|32758ms|139.10s|5.02 MB|

Let me know if I can check anything else.

[2018-01-29 16:18] probablyup commented on #126
Thanks @thomas88, this was very helpful.

@mxstbr and @philpl I'm seeing this in my builds as well. I think we should switch this to off by default or remove it entirely, since it's seemingly not having the effect we want.

[2018-01-29 18:18] mxstbr commented on #126
That's very unfortunate, so something's wrong. We'll need to investigate Uglify logs I guess?

[2018-01-29 22:22] dgcoffman commented on #124
Thanks @philpl you were right, I _did_ have SC 2.2.1 before!

Bad news is that after getting on the latest versions, my issue persists.

As of this morning I have in my package.json:
<img width="1270" alt="screen shot 2018-01-29 at 2 20 37 pm" src="https://user-images.githubusercontent.com/1711204/35537603-a841a4ce-04ff-11e8-929f-b0f94866fe5f.png">

and yarn.lock requires those same versions.

Our

[2018-01-29 22:47] dgcoffman commented on #124
Here's what I've tried so far:

<img width="923" alt="screen shot 2018-01-29 at 2 46 37 pm" src="https://user-images.githubusercontent.com/1711204/35538569-424b55ee-0503-11e8-817e-afed84d54624.png">

[2018-01-29 23:39] dgcoffman commented on #124
`"minify": false` seems make the behavior consistent

[2018-01-30 08:40] thomas88 commented on #126
I'm not sure we're even using Uglify, since we don't have a reference to `UglifyJsPlugin` in our webpack config.

I've tried adding Uglify to webpack with `new webpack.optimize.UglifyJsPlugin(...)`, but there's no option regarding log output other than turning warnings on. Can you point me in a direction where I'd find mentioned log files?

[2018-01-30 21:35] AndersDJohnson commented on #126
Related to https://github.com/styled-components/babel-plugin-styled-components/issues/114.

[2018-02-12 17:54] asafigan opened #127 "Doesn't seem to minify injectGlobal"
I inject some global styles so that I don't have to configure css in webpack. One on the sylesheets I inject is normalize.css which has a lot of comments in it. When I view my bundle all of those comments are kept. I think injectGlobal isn't being optimized.

[2018-02-12 19:13] mxstbr commented on #127
That's because it ships with a legal disclaimer which shouldn't be removed. See https://github.com/styled-components/styled-components/issues/1249 and #100.

[2018-02-12 19:13] #127 closed

[2018-02-12 20:18] asafigan commented on #127
thanks for the quick response

[2018-02-22 20:10] damassi commented on #116
https://github.com/styled-components/babel-plugin-styled-components/pull/128

[2018-02-23 11:14] csvan commented on #126
Confirming this, moving from 1.3 to 1.5 caused our webpack build times to increase by over 60%. This also affects our Jest config where tests are now running slower by the same factor.

[2018-02-23 22:35] probablyup commented on #126
I'm also not seeing any bundle size reduction from having the comments... thinking we should just disable or remove the functionality.

[2018-02-23 23:06] kitten commented on #126
@probablyup @mxstbr I recently noticed that this feature significantly slows down React Native builds too. I'm not sure what the effects of the comment might have on a typical build, but it was a shocking slowdown of over 5x. It might've been a bug elsewhere, but I don't think this is a coincidence.

Shall we disable this option by default?

[2018-02-28 09:20] jony89 opened #130 "displayName is prefixed with filename"
Why does the displayName of component includes the `blockName`/`filename` ?

This makes it impossible to test the components using enzyme, when I try to `.find("ComponentName")` it fails because the component displayName is `filename__ComponentName`

Here is the relevant code :

https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/displayNameAndId.js#L34-L46

[2018-02-28 10:05] jony89 commented on #130
fixed by adding `"fileName": false` to the plugin.

Yet, I could not find any docs regard this, in addition I think that `"fileName": false` should be the default.

[code]

[2018-02-28 11:31] #126 closed

[2018-02-28 12:42] kitten commented on #130
@jony89 This is entirely on purpose. The intention is to make the name of the component import-order-independent and to give it a name that is as unique as possible.

The reason for that is that it's quite common to give single-use StyledComponents similar names across files, e.g. `Item` in `components/List.js` or `Image` in `components/Avatar.js`.

So this way the name will end up being more iden

[2018-02-28 12:51] jony89 commented on #130
Yeah, docs will be gr8, make sure to write something about testing with enzyme.

`So this way the name will end up being more identifiable`

identifiable at what point?

for errors - we have stack trace
for testing (with enzyme) - we must use `"fileName": false`

[2018-02-28 13:58] kitten commented on #130
@jony89 I don’t understand why you must set it to false, but it’s mainly for inspecting elements while nothing is going wrong per se, in the sense of errors.

PRs to the website repo for docs are very welcome :)

[2018-02-28 21:42] jony89 commented on #130
I mus set it to false in order to test the components using enzyme, when I try to .find("ComponentName") it fails because the component displayName is filename__ComponentName

I would love to cr8 a PR as long u agree with me.

[2018-02-28 23:45] kitten commented on #130
@jony89 You can just use `.find(Component)` directly which should always work :)

Reference: https://github.com/airbnb/enzyme/blob/master/docs/api/selector.md#3-a-react-component-constructor

[2018-03-03 19:51] probablyup commented on #126
Released as 1.5.1 on NPM.

[2018-03-20 02:23] ryardley opened #133 "Plugin does not desugar array syntax"
It appears this plugin breaks when styled components is used in array mode:

[code]

This means that some libs break as they have to provide dynamic decorator functions to sc.

Can this be fixed or can you suggest a work around that libs such as https://github.com/jxnblk/styled-system/tree/master/system-components can do to fix this?

[2018-03-20 05:32] wmertens commented on #133
const Comp = styled.div([...funcs.map(_ => ""), ""], funcs)

On Tue, Mar 20, 2018, 3:23 AM Rudi Yardley, <notifications@github.com>
wrote:

[2018-03-20 10:45] kitten commented on #133
@ryardley I'm not sure where you're going with this as this seems to be a problem with your transpilation setup possibly?

We do have some basic transpilation of our tagged template literals, but if you're seeing the above, you might not have the plugin perform its tasks before your other babel presets / plugins https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/vi

[2018-03-21 20:22] ryardley commented on #133
@wmertens tried that and it isn’t picked up. The issue is that all calls to styled.div should be transpiled to include the configuration but they are not.

[2018-03-21 20:30] ryardley commented on #133
@kitten have a look at this repository i used to post the same bug to styled-system. They may be able to work out a way to mitigate it by providing the configuration themselves however the real problem is with this plugin: https://github.com/ryardley/isomorphic-bug-in-system-components

[2018-03-22 02:34] yboone commented on #78
I just created a react app then npm installed the babel-styled-components plugin, but I don't see a .babelrc file.  Would I get this file after I run build?

[2018-03-23 22:15] cfnelson commented on #78
@yboone Normally you will always create your own custom `.babelrc` file in the root of your project. More docs [here](https://babeljs.io/docs/usage/babelrc/), a `.babelrc` isn't generally created for you by npm packages unless the pkg is a cli-tool that is generating a template starter project for you.

[2018-04-02 22:17] lucleray opened #136 "Babel-plugin-styled-components is not compiling my external library"
Hello,

I am having issues using `babel-plugin-styled-components` for a specific use case.

I have two folders in a monorepo, that I run using yarn workspaces :
- `app`, with my next.js app
- `ui` , with my 'ui library' using styled-components

I created a git repo that reproduces the bug : https://github.com/lucleray/ssr-ui-library

To reproduce :
- clone the repo
- `yarn install` in the base fol

[2018-04-03 07:13] mxstbr commented on #136
You probably need to add the plugin here? https://github.com/lucleray/ssr-ui-library/blob/master/ui/.babelrc

[2018-04-03 08:44] lucleray commented on #136
I just tried to do that, but I still have the same error :
`Prop className did not match. Server: "main__UiButton-s1vypnr9-0 itDLCI" Client: "main__UiButton-s1vypnr9-0 jzgARf"`

The names are matching for the first part, but not the second, i wonder why 🤔

Also, that's the css code generated (after reloading the page) :
[code]

When I don't see any error, usually, it looks more like this :
[code]

[2018-04-03 09:40] kopax commented on #136
@lucleray I don't know about your issue but you should not use styled-components as a peer dependency but dependency.

styled-components is not a singleton so there is not reason to have it as a peer.

[2018-04-03 09:42] kitten commented on #136
@lucleray I’ll f the first class matches and contains a component name that’s a good sign that the plugin is working as intended.

The second part hints at different CSS in your server and client code. In this case it looks like you might be applying a different background colour before or during React’s hydration.

I’d be happy to help you more but I’d need some code snippets to point this out 😬

[2018-04-03 09:43] lucleray commented on #136
@kopax I am making styled-components a peer dependency of my **UI library** only, like recommended here : https://www.styled-components.com/docs/faqs#i-am-a-library-author-should-i-bundle-styledcomponents-with-my-library

@kitten Here is the code : https://github.com/lucleray/ssr-ui-library 🙂

[2018-04-03 09:49] kitten commented on #136
@lucleray see my edit :)

@kopax yea, that’s not quite factually correct. We do have singletons in terms of rehydration and accidentally adding SC to your app twice—which is also unnecessary either way—will trigger one instance of SC to “rehydrate” the other ones styles, which will lead to a confusing error

[2018-04-03 09:52] lucleray commented on #136
@kitten The repo contains a component that has `background: yellow;`
If you change it (for example to `background: green;`) and refresh the browser, you should see the error.

It seems like in this case, the client gets the new code, but not the server. Could this be related to my webpack server config ?

[2018-04-03 10:02] kitten commented on #136
@lucleray yes, that might be the case. From what I can tell everything is working correctly :+1: So this is probably a (hot) reloading issue, I suppose.

[2018-04-03 10:49] lucleray commented on #136
@kitten You didn't see any error message in console ?

After you refresh the page, the background color was correct ?

On my side, the color is correct when the hot-reloader updates the page (the hot reloading seem to work fine).

But, once I refresh the page, then I see the error and the color is not correct.

[2018-04-03 11:29] kitten commented on #136
@lucleray Sorry, I didn't have time to actually test it, but I'm confident that it's not an issue with this plugin or styled-components itself.

I'd suggest you visit some next.js docs. It might not be reloading your dependencies as expected, assuming that the external dependencies are treated differently 😅

[2018-04-13 18:59] ckeeney commented on #79
Given the issues with SSR and `.extend`, I think a note should be added to the [When should I use `styled()` FAQ page](https://www.styled-components.com/docs/faqs#when-should-i-use-styled).  Right now, the answer contains

and

I see this FAQ page mentioned a few months ago above, https://github.com/styled-components/babel-plugin-styled-components/issues/79#issuecomment-343401444, but it still has

[2018-04-23 02:31] xinkule commented on #123
see issue #130

[2018-04-25 22:12] jasongornall commented on #48
bumping this... main reason we had to disable this awesome plugin :)

[2018-04-25 22:29] kitten commented on #48
@jasongornall `preprocess` is an experimental option and will soon be removed in favour of a future new idea (more info can be found here: https://github.com/kitten/sweetsour). This means that we currently don't have a replacement for this option, but on the other hand we have something better planned 🙌

[2018-04-25 22:29] #48 closed

[2018-05-09 05:10] seankoji opened #138 "Invalid class name being generated (first character is number) causing styles to fail"
It appears babel-plugin-styled-components is assigning component classnames based on folder/file path structure. For example I have a component

[code]

that file contains a component

[code]

However the hover effect doesn't work. On closer inspection, it appears that the generated class name is invalid as it starts with a number and is being ignored by the browser
![image](https://user-images.gi

[2018-05-09 05:13] probablyup commented on #138
Hmm it seems we do have some code that handles this: https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/displayNameAndId.js#L100

Maybe it's not being applied in all situations?

[2018-05-09 05:28] seankoji commented on #138
Hmm I've tried turning the SSR option on and off with no joy.

My setup is using `"@storybook/react": "^3.2.18"` with a custom `.babelrc` as follows

[code]

[2018-05-09 05:32] probablyup commented on #138
Give `displayName: false` a try for the moment.

[2018-05-09 05:35] seankoji commented on #138
Oh that works.

But at the expense of the obfuscated names

![image](https://user-images.githubusercontent.com/13824565/39797264-847a61c8-539e-11e8-8e99-01910172c026.png)

[2018-05-09 05:35] probablyup commented on #138
Yup. I'm looking into a fix for this issue in the meantime.

[2018-05-09 05:56] probablyup commented on #124
@dgcoffman the build performance degradation might be from the uglify pure comments that we added and then disabled a few months ago. Could you try `1.5.1` and let me know how it looks?

[2018-05-09 05:57] probablyup commented on #130
@jony89 you can set `displayName: false` in the babel plugin option if you don't want noise.

[2018-05-09 05:58] probablyup commented on #123
Going to close this, as it's a dup of #130. We likely won't remove this feature, as it's needed to ensure there's enough information for stable and unique class names.

[2018-05-09 05:58] #123 closed

[2018-05-09 06:14] jony89 commented on #130
@probablyup that will remove the displayName, which is needed.

[2018-05-09 06:16] probablyup commented on #130
Not if you use the syntax Phil suggested.
On Wed, May 9, 2018 at 2:15 AM jony89 <notifications@github.com> wrote:

[2018-05-09 06:28] jony89 commented on #130
@probablyup I hope someone will approve the PR, it's all written there :

https://github.com/styled-components/styled-components-website/pull/240/files

[2018-05-10 08:32] #138 closed

[2018-05-10 22:50] probablyup commented on #125
I have no idea how CRA is so successful when you can't change anything without ejecting, TBH.

[2018-05-11 09:35] mxstbr commented on #125
Todo:

- [x] Desugar
- [ ] Rewrite import (todo first: add that entry point to the main package)

[2018-05-14 15:26] Ky6uk opened #141 "Extending of files with the same name produced wrong class names (displayName enabled)"
#### ./Section.js

[code]

#### ./A/Section.js

[code]

#### ./B/Section.js

[code]

#### App.jsx

[code]

---

So `Bork` should be in `blue` color here (and it is without this plugin). But with this plugin the color of `Bork` is `red` because class names are the same when `"displayName": true`.

[2018-05-29 00:11] ChristianMurphy opened #142 "Support babel-plugin-macros"
Follow up to #59

Create React App 2 is adding support for babel plugins through `babel-plugin-macros` https://github.com/facebook/create-react-app/pull/3675
Adding support for `babel-plugin-macros` would allow usage without ejecting or rewriting create react app.

documentation for creating a macro: https://github.com/kentcdodds/babel-plugin-macros/blob/master/other/docs/author.md

[2018-06-04 05:30] #130 closed

[2018-06-13 15:17] FDiskas commented on #33
It's important

[2018-06-19 00:40] mquandalle opened #143 "Rehydration bug"
I'm using this plugin with the `ssr` option turned to `true` which is supposed to generate unique identifiers for React components to avoid issues during re-hydration in case the two render trees doesn't match perfectly.

However I'm observing inconsistent rendering with the wrong child being in the wrong parent component.

You can see a minimal reproduction of this issue here: https://github.com/

[2018-06-19 00:42] probablyup commented on #143
Well it's going to render as the "else" of the ternary because `isMobileLayout` will always be false on the server. Then rehydration should kick in and replace it since client side knows about that thing.

Generally speaking, it's better to not have this sort of code or only do the switch on `componentDidMount`, because the recommended way of doing isomorphic React views is server and client shoul

[2018-06-19 00:50] mquandalle commented on #143
Wow you were super fast to answer, thank you so much! I updated the code 1 min after publishing this issue (it's the same but a bit more explicit about the issue).

The goal is indeed to have a SSR version that is a bit different than the first client render, which I understand isn't the best practice, but can happen on real-world occasions (for instance when we want to display different component

[2018-06-19 00:57] probablyup commented on #143
Oh nope, separate things. The consistent `componentId` is specifically just making sure the same component definition has a consistent className hash between client and server. It doesn't have anything to do with changing out what component you are rendering.

One thing that occurred to me is if the underlying HTML element (e.g. `<div>`) is the same, I don't think React will do a full replacement

[2018-06-19 01:03] mquandalle commented on #143
Yes I tried using different tags and it works in minimal examples, but in practice the issue is that as soon as there is a `<div>` in the page, the reconciler is going to re-use the SSR version and break the layout.

[2018-06-20 19:50] Ky6uk commented on #141
Fixed in SC [v3.3.3](https://github.com/styled-components/styled-components/pull/1755)

[2018-06-20 19:50] #141 closed

[2018-06-21 13:21] atwaves opened #144 "How to use this with webpack 4 and babel-loader with ssr"
How to use this with webpack 4 and babel-loader with ssr?

[2018-06-21 13:42] probablyup commented on #144
https://www.styled-components.com/docs/tooling#serverside-rendering
On Thu, Jun 21, 2018 at 9:21 AM Artem <notifications@github.com> wrote:

[2018-06-21 13:43] #144 closed

[2018-06-21 13:48] atwaves commented on #144
does not work:
**"babel-plugin-styled-components": "^1.5.1"
"babel-core": "^6.26.0",
"babel-loader": "^7.1.4",
"babel-preset-stage-2": "^6.24.1",
"babel-preset-stage-3": "^6.24.1",
"styled-components": "^3.2.6",
"webpack": "^4.8.1",
"webpack-cli": "^2.1.3",
**

javascript```
use: [
  {
    loader: 'babel-loader',
    options: {
      presets: [ 'stage-2' ],

      plugins: [

        [ 'styled-com

[2018-06-21 13:49] probablyup commented on #144
I use it successfully in many projects, so must be a local config thing. I
recommend using a .babelrc and not doing it in the webpack config.
On Thu, Jun 21, 2018 at 9:48 AM Artem <notifications@github.com> wrote:

[2018-06-21 15:10] atwaves commented on #144
still does not work with .babelrc and webpack

[code]

{
  "presets": [ "babel-preset-stage-2" ],
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": true
    }]
  ]
}

[2018-06-21 15:24] atwaves commented on #144
I use .mjs file extension

[2018-06-21 15:28] probablyup commented on #144
Ah, is the MJS extension included in the "test" portion of the babel-loader rule?

[2018-06-21 15:41] atwaves commented on #144
yes, sure
full config for client
[code]

[2018-06-27 19:03] breadadams opened #145 "Component "name" in className with `.extend`"
It seems that with an extended component, the component being extended's name/filename (I've tried with both config options) are used for the classname applied to the DOM element. Ie:

[code]

The above returns something like:
[code]

Whereas ideally I was expecting:
[code]

Is this intended functionality?

___

##### Versions
[code]

[2018-06-27 20:32] breadadams commented on #145
Here's a _real-world example_ (we're using a base "building block" to construct other components via `.extend`):

#### Before (using `const Component = styled.div...`)
![image](https://user-images.githubusercontent.com/5795227/41997753-30521a32-7a59-11e8-8f05-b501108fcf72.png)

#### After (using `.extend`)
![image](https://user-images.githubusercontent.com/5795227/41997856-7a9cc4e8-7a59-11e8-8e37-

[2018-06-28 03:13] probablyup commented on #145
Hmm this is probably a bug.

[2018-06-28 11:44] breadadams commented on #145
Happy to take a look however it may be past my abilities... It seems `/src/visitors/displayNameAndId.js` is taking care of the naming @probablyup?

[2018-06-28 12:58] probablyup commented on #145
Yeah that should be correct. You’ll also want to upgrade whatever version
of s-c we’re testing with locally since there were some recent changes to
displayName handling.
On Thu, Jun 28, 2018 at 6:44 AM Brad Adams <notifications@github.com> wrote:

[2018-07-01 08:38] TomLingham commented on #44
Hmm... I'm getting this once again with styled-components 3.3.3, when setting both ssr to true, and displayName to false. Hydrating on the client causes a `Prop `className` did not match. Server` error.

[2018-07-01 14:17] probablyup commented on #44
Can you double check it is being deduped correctly by npm?
On Sun, Jul 1, 2018 at 3:38 AM Tom <notifications@github.com> wrote:

[2018-07-01 20:16] breadadams opened #146 "Remove minification.md from repo"
Started in https://github.com/styled-components/styled-components-website/issues/79 & #85, it seems a markdown file was left over:
https://github.com/styled-components/babel-plugin-styled-components/blob/master/minification.md

[2018-07-01 20:45] breadadams commented on #145
I've done some testing on the issue and don't appear to be getting very far, however I'll share my findings incase it can assist someone else in coming up with a solution 🙂

I updated [the tests](https://github.com/styled-components/babel-plugin-styled-components/blob/master/test/fixtures/17-annotate-css-with-uglify-pure-comments/index.js#L59) to look like so:

![image](https://user-images.githubu

[2018-07-01 20:50] breadadams commented on #145
Also @probablyup I couldn't detect which version of styled-components was being used locally, it doesn't appear to be in `package.json`, _or_ my `yarn.lock` after init. Something I'm missing?

[2018-07-18 20:39] rpastorelle opened #147 "SSR: className do not match warning when using `ssr: true` option"
When using `ssr: true` option — should that be used both on server & client?

client side `.babelrc`:
[code]

server-side `.babelrc`:
[code]

Still getting this warning 🤔

[2018-07-18 21:36] probablyup commented on #147
Yes it should be enabled for both scenarios. Does the "react-app" preset enable file transforms that aren't present in the server-side config? If the files are materially different as a result of transpilation, that can effect how things are hashed.

[2018-07-19 00:41] kitten commented on #147
So this would also be a lot easier to resolve if we may see the code before & after the transpilation :)

[2018-07-19 07:45] mattpelosi commented on #59
I'm having a similar problem with getting the plugin working.

Let's say I've just created a boilerplate create-react-app and run npm install for the styled components library.  What are the specific steps I need to take in order to get the babel-plugin-styled-components plugin working?

I've followed the plugin documentation on this procedure. I've run an eject, then npm installed the plugin, cre

[2018-07-20 03:25] chriswhawkins commented on #59
@mattpelosi instead of creating a .babelrc file, try adding the plugin and any options you want into your `package.json` file:
[code]

[2018-07-20 13:35] Oreville opened #148 "using babel-plugin-styled-components without ejecting from create-react-app"
I'm using create-react-app and I would like to be able to use the babel-plugin-styled-components.

I've been looking for a way of doing this without having to eject, is this possible?

[2018-07-20 21:24] probablyup commented on #59
Looks like you solved it!

[2018-07-20 21:24] #59 closed

[2018-07-24 22:01] kitten commented on #147
@marciaga some input/output files (or code rather) and more details on the transpilation would give us more to go after so we could help you 👍

[2018-07-25 18:13] marciaga commented on #147
@kitten I can't post the original code, but here's a minimal example that shows the issue. It seems related to the use of `.extend` but I couldn't find a solution in issues, though this seems like it may be on someone's radar. Regardless, it appears as though the API docs state this usage should work.
https://github.com/marciaga/ssr-sc

[2018-07-25 20:44] dntrkv commented on #79
@ckeeney Agreed. I have wasted hours trying to figure this issue out. There are so many potential issues that can cause the client/server markup mismatch, it would great to update the styled-components docs warning users of this limitation.

[2018-08-06 09:33] Lyncee59 opened #149 "React SSR + External library containing styled-components"
Hello everyone,

I am experiencing some issues and after searching for the last week to find a workaround, I finally decided to post my problem here !

My context is the following:
- Nextjs 6.1.1-canary3 (webpack 4 upgrade / babel 7.0)
- styled-components 3.4.0
- components: an external library I am developing exposing React components based on styled-components
(Note that I am using ESM to benefi

[2018-08-06 13:57] cryve commented on #41
Thanks a lot @huy-nguyen! With `"module": "esnext"` in tsconfig.json I was able to get babel-plugin-styled-components to work with the following setup:
* parcel-bundler 1.9.7
* typescript 3.0.1
* babel-plugin-styled-components 1.5.1

[2018-08-06 15:27] kitten commented on #41
Just as a quick note here, it’s now possible to run the Typescript checker separately and instead of using it to also transpilation one can nowbuse Babel which is a lot less tedious ✨  https://babeljs.io/docs/en/next/babel-preset-typescript.html

cc @probablyup: Should we close this and maybe file an issue to add this approach to the readme?

[2018-08-06 16:29] probablyup commented on #41
Yessssss
On Mon, Aug 6, 2018 at 10:27 AM Phil Plückthun <notifications@github.com>
wrote:

[2018-08-06 21:02] #41 closed

[2018-08-14 13:59] maamounapprise commented on #148
Possible duplicate

https://github.com/styled-components/babel-plugin-styled-components/issues/59

[2018-08-14 14:07] mxstbr commented on #148
Yeah you gotta use react-app-rewired with react-app-rewire-styled-components!

[2018-08-14 14:07] #148 closed

[2018-08-14 14:25] IanEdington opened #151 "`jest --coverage` causes display name to change"
I get different display names for this component depending on if I run jest with `--coverage` or not.

[code]

with `yarn jest --env=jsdom` I get `ReportIssueModal__IconCircle`
with `yarn jest --env=jsdom --coverage` I get `Styled(Circle)`

![screen shot 2018-08-14 at 8 32 26 am](https://user-images.githubusercontent.com/6425087/44097687-59953fd2-9fac-11e8-8f58-da8ff707d44c.jpg)

[2018-08-15 14:49] IanEdington commented on #151
I found a temporary solution by setting the displayName manually.

[code]

[2018-08-15 15:09] probablyup commented on #151
Hmm. So this happens because of the instrumentation babel is adding, which
changes the line order of the files and then consequently the component
hashes.

Do you have SSR mode on for the plugin? That might help.
On Wed, Aug 15, 2018 at 9:50 AM Ian Edington <notifications@github.com>
wrote:

[2018-08-16 20:16] IanEdington commented on #151
Interesting. Thanks for explaining that.  enabling SSR mode on the styled-components babel plugin doesn't seem to have an effect. This is what I'm using:

[2018-08-16 20:52] probablyup commented on #151
Okay, one other idea: for babel environment “test” (what jest uses) set the
plugin option displayName: false. I think this might help counteract what
Istanbul (the instrumentor) is doing.
On Thu, Aug 16, 2018 at 3:17 PM Ian Edington <notifications@github.com>
wrote:

[2018-08-20 21:54] kachkaev commented on #121
@joetidee (and others who are here from search), here is how I solved this issue in my next.js app

`.babelrc`

[code]

Correct me if I'm wrong folks 😉

[2018-08-21 06:25] probablyup commented on #145
@breadadams `yarn list styled-components` should give you the answer

As a general FYI, the "extend" API is deprecated and will be removed in v4, so I'd recommend switching to `styled(StyledComponent)` instead which should not have any issues with classnames. https://github.com/styled-components/styled-components/issues/1694

[2018-08-21 06:26] probablyup commented on #125
All the pieces are in place for this now

[2018-08-21 06:26] #125 closed

[2018-08-21 09:48] adamchenwei commented on #59
nop, its not working

[2018-08-21 13:30] chriswhawkins commented on #59
@adamchenwei, the solution I posted above is actually for a post eject scenario. If you're trying to get this to work in a pre-ejected create-react-app, you'll want to use [react-app-rewired](https://github.com/timarney/react-app-rewired) with [react-app-rewire-styled-components](https://github.com/withspectrum/react-app-rewire-styled-components).

[2018-08-21 17:54] adamchenwei commented on #59
@chriswhawkins ok, thanks for the info! 👍

[2018-08-21 22:33] IanEdington commented on #151
Thanks for following up

Yes I did. Instead of `ReportIssueModal_IconCircle` I get `styled.div` which is unfortunately not very useful for a snapshot test. It does remove the conflict between the two environments though.

[2018-08-21 22:37] probablyup commented on #151
I mean I wouldn’t really rely on snapshot tests for this sort of thing
anyway to be honest. The way the components are named are not part of the
public API, so they could change at any time.
On Tue, Aug 21, 2018 at 5:33 PM Ian Edington <notifications@github.com>
wrote:

[2018-08-21 22:40] #151 closed

[2018-08-21 23:35] probablyup commented on #146
I don't think the content of that file ever actually made it to the website. If you'd like to add it though, would be happy to delete the markdown here after!

[2018-08-31 09:04] tpucci commented on #126
Hi ! I added the plugin in a React Native project. Build time increased by +50% as well. And our jest test are stuck on `RUN`. It seems that it is a related issue. Do you hhave any recommendation on how to investigate on RN ?

[2018-08-31 16:01] probablyup commented on #126
@tpucci are you using 1.6 of the plugin?

[2018-08-31 21:34] TheRickTM commented on #124
We recently upgraded to `1.6.0` along with `styled-components`: `3.4.5` and are experiencing the exact same issues. We upgraded from `1.5.1` and `3.2.5`. Running tests locally on OSX returns different names as previously reported. The solution to turn off minify works but significantly decreases performance, up to 3x.

[code]

[2018-08-31 21:39] probablyup commented on #124
Yup we did make a change to shorten the generated names a bit. We don't make any guarantees that the hashing output will be consistent from one library version to the next, but they will be consistent for the same version.

[2018-08-31 21:41] probablyup commented on #124
As far as performance goes, I'm not sure. We disabled the uglifyPure functionality in 1.5.1 I believe and removed it in 1.6, so the perf should be mostly consistent with 1.4.

[2018-08-31 21:42] TheRickTM commented on #124
Thanks for the quick response. But this output is for the same version.

```- .c41 .form_component__StyledError-sc-14ivdot-2 {```
was generated from our linux docker container we use for testing

```+ .c41 .form_component__StyledError-cGUtYm {```
was generated from my development OS X machine.

Both have the same exact versions of the libraries installed when executing the tests. The output is con

[2018-08-31 21:44] probablyup commented on #124
@TheRickTM is the bundle being built inside the docker container? The filesystems need to be consistent for the built hashes to be equivalent.

[2018-08-31 21:46] probablyup commented on #124
The reason for that is the hash is based on your project name + file path: https://github.com/styled-components/babel-plugin-styled-components/blob/e92539966d9edddb22fe216c2e6573de8ab61e89/src/visitors/displayNameAndId.js#L95-L108

[2018-08-31 21:54] TheRickTM commented on #124
@probablyup, thanks for the detailed information. That is what is causing our issue. I'll see what we can do to work around this and configure the development environments to match our docker container's file system pathing. Is there a possibility in the future for this to be configurable? File path on the file system seems like it could have lots of variation based on each developers preferences.

[2018-08-31 21:55] probablyup commented on #124
So what we did at Zocdoc is we built everything during CI in the same environment and then copied the bundle into the docker container for use. That way everything is assembled in a "clean room" I guess you could say. Is that a viable strategy for your setup?

[2018-08-31 22:10] TheRickTM commented on #124
We have the same "clean room" setup as you are describing. The test perform over 50% faster outside of the container which is the reason for the interest in being able to run them locally. The container is the source of truth as that is where we build all of our environments from. So we can look into getting the developers to setup the same file system path if they want to run it locally.

Is ther

[2018-09-01 01:12] probablyup commented on #124
It is a relative path.

[2018-09-03 15:44] robin-drexler opened #158 "v1.6.0 seems to break babeling styled-component's own code"
Hey, everyone
First of all, thanks for all the amazing work you do! :)

We have recently upgraded to version`^1.6.0` of `babel-plugin-styled-components` , when we started to see the following error:

[code]

We dug into it a bit and found that it seems to be caused by [desugarStyled.js](https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/desugarStyled.js#L2

[2018-09-03 15:52] probablyup commented on #158
Hmm thank you. I'll take a look today or tomorrow

[2018-09-04 03:43] #158 closed

[2018-09-04 03:44] probablyup commented on #158
@robin-drexler pushed a fix for the hard error in 1.6.1. Not sure about the slowdown though... perhaps it's due to the SSR option being on by default now? You can disable it by passing `"ssr": false` to the plugin.

[2018-09-04 06:37] robin-drexler commented on #158
@probablyup Thanks for the timely fix!

Regarding the slowdown: Setting `ssr` to `true` or `false` does not seem to make any difference. It's always about 9 seconds on my machine.

Removing the [`MemberExpression`](https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/index.js#L14) reduces the time to 0.7 seconds.

[2018-09-04 13:39] TheRickTM commented on #124
@probablyup thanks for your help. I missed the relative part. After updating to the latest `jest-styled-components` the issue has been resolved.

[2018-09-04 16:31] probablyup commented on #124
Oh interesting. I'm not a contributor to that subproject so curious what they did... Should I close this issue?

[2018-09-04 17:35] TheRickTM commented on #124
The subproject renames the styled components `c0`...`cn` for jest snapshots. This prevents any changes in the hashing that would cause the snap to break. We were using previously but hadn't updated to the latest which detected the new changes and resolved. It records the styles as well for us so they can be compared for any changes in display as well.

Thanks again for the assistance.

[2018-09-05 11:32] rroslaniec commented on #158
With 1.6.x version I've got on node error during the build:
[code]

[2018-09-12 06:22] acrazing opened #164 "Add @babel/helper-annotate-as-pure to dependencies"
This is used but not installed: https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/pure.js#L1

[2018-09-12 06:51] probablyup commented on #164
Ah must have put it in devDeps. Can you send a PR?

[2018-09-12 06:52] probablyup commented on #164
Oh so weird. I wonder how that got through...

[2018-09-12 06:59] probablyup commented on #164
should be fixed in 1.7.1

[2018-09-12 06:59] #164 closed

[2018-09-12 10:39] selrond commented on #14
@lumio have you come up with something?

[2018-09-12 10:42] lumio commented on #14
@selrond sadly not - I haven't had enough time to actually dig into this

[2018-09-19 07:17] fbenedetti-zinio commented on #41
Following the Microsoft post (https://blogs.msdn.microsoft.com/typescript/2018/08/27/typescript-and-babel-7/) the Typescript compiler is still the preferred solution over Babel. Indeed it would have a huge impact for our stack to migrate to babel (some of Typescript syntax is not even supported by the Babel compiler). Is there any chance to solve the issue without the need of configuring Babel?

[2018-09-19 13:55] probablyup commented on #41
The only non-babel integration is Igor’s TS plugin
On Wed, Sep 19, 2018 at 2:18 AM fbenedetti-zinio <notifications@github.com>
wrote:

[2018-09-19 17:19] Igorbek commented on #41
Here's it https://github.com/Igorbek/typescript-plugin-styled-components

[2018-09-19 17:20] probablyup commented on #41
Actually Igor is your plugin mentioned in the TS docs on the website?
On Wed, Sep 19, 2018 at 12:19 PM Igor Oleinikov <notifications@github.com>
wrote:

[2018-09-19 21:18] Igorbek commented on #41
It is not. I can make PR to the docs site, if you don't mind.

[2018-09-19 21:18] probablyup commented on #41
Yes please!
On Wed, Sep 19, 2018 at 4:18 PM Igor Oleinikov <notifications@github.com>
wrote:

[2018-09-20 10:40] fbenedetti-zinio commented on #41
Igor's plugin worked well on webpack, but I use directly the typescript compiler to transpile the server code. Is there any chance to set it up as plugin inside the tsconfig.json?

[2018-09-20 19:19] cpratiksha opened #165 "My jenkin build is failing ,please help me in that"
/src/index.js
Module build failed: Error: Cannot find module 'babel-plugin-styled-components' (While processing preset: "/Users/Shared/Jenkins/Home/workspace/project-dev/node_modules/babel-preset-react-app/index.js")
    at Array.map (<anonymous>)

error Command failed with exit code 1.
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.
Build step 'Execute shell'

[2018-09-20 19:30] cpratiksha commented on #165
What is the solution? I installed this library via npm

Still coming to this error, not getting any working solution.

[2018-09-20 19:32] probablyup commented on #165
Yeah the issue is the react-app preset does local resolution of babel components and the styled-components babel plugin is installed at the top of your node_modules tree, so I don't think it'll find it.

That's why the rewired thing exists.

[2018-09-20 19:35] cpratiksha commented on #165
OK, Thank you, Evan, for the quick reply. I try with your solution.

[2018-09-20 19:43] cpratiksha commented on #165
while installing this dependency node sass error occurs.

npm install --save react-app-rewire-styled-components
.
.
.
.
node-sass@4.8.3 postinstall: `node scripts/build.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the node-sass@4.8.3 postinstall script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

[2018-09-20 19:47] probablyup commented on #165
No idea, we don't use node-sass in any styled-components library.

[2018-09-21 05:55] #165 closed

[2018-09-21 23:03] cloutiertyler commented on #41
@probablyup Is there no way to do it with just the class metadata alone, plus some randomness? As far as I can tell it's impossible to get debugging working with Typescript, StyledComponents, and SSR.

Even just a little hint at what classes the elements are would go a very long way.

[2018-09-21 23:04] probablyup commented on #41
Nope. We’ve tried. The only way to ensure total uniqueness is to also include file path in the hashing because they’re guaranteed to be unique.

displayName + variable name combinations can collide relatively easily.

[2018-09-21 23:05] probablyup commented on #41
Unique and more importantly, stable.

[2018-09-21 23:06] cloutiertyler commented on #41
Thanks for the quick response! That's the pits though. :/

[2018-09-21 23:13] cloutiertyler commented on #41
@probablyup There's no way to hash the content of the styles to arrive at a unique class name is there? That would be both unique and stable, right? e.g. (MyComponent-<md5(width:100%)>)

Admittedly, I definitely don't know the full scope of the problem, so I'm kind of drive-by engineering here.

[2018-09-21 23:16] probablyup commented on #41
Not with dynamic styles from functions that could be coming from anywhere
On Fri, Sep 21, 2018 at 6:13 PM Tyler Cloutier <notifications@github.com>
wrote:

[2018-09-22 13:12] fabyo82 commented on #41
I'm trying to modify the Igor's plugin adding a componentId config. Would it work if I hash the file path and the content?

[2018-09-23 14:51] probablyup commented on #108
We do the hash calculation based on the location of the call to styled, so
that makes sense if all your styled calls are in the exact same file.
On Sun, Sep 23, 2018 at 5:35 AM Aleh Atsman <notifications@github.com>
wrote:

[2018-09-23 16:36] Atsman commented on #108
@probablyup yeah I understood that. Any ideas how to fix that? Quite ofther i want to be able to use style interpolation like

[code]
[code]

So what i see here is quite similar to all macro problems, now that thing doesn't compose, and the only way is to pass styles as arguments, or to create a wrapper, quite sad.

Any ideas?

[2018-09-27 18:35] Vpr99 opened #166 "Struggling to get plugin working–transforms aren't being applied?"
Hi all,

I'm trying to get the plugin working _at all_ and I'm at my wits end here. As far as I can tell, no transformations are happening. I'm using Gatsby, but just in development mode and with a custom babel config:

`babel.config.js`:
[code]

and my `package.json`:
[code]

Currently, when I go to React devtools, I'm still getting tons of <styled.xxx> elements, instead of displayNames and in Ch

[2018-09-27 18:36] probablyup commented on #166
I think you need to use the gatsby plugin? https://www.gatsbyjs.org/packages/gatsby-plugin-styled-components/

[2018-09-27 18:41] Vpr99 commented on #166
Thanks for the thought @probablyup—no dice though :/

I think the Gatsby plugin only applies if you're using their built-in babelrc file. I just tried adding a `displayName` manually to a couple of my styled components and that works a-okay, but the plugin still isn't doing anything. Would it be helpful for me to see if I can reproduce in a demo repo?

[2018-09-27 18:44] probablyup commented on #166
I mean I'd probably post in one of the issues on their repo or try asking on their [Spectrum](https://spectrum.chat/gatsby-js). When it comes to third party integrations the knowledge is a bit scattered.

[2018-09-27 19:10] Vpr99 commented on #166
@probablyup PROGRESS! So I created a sample repo and encountered the same problem with just a vanilla React/Webpack build. Here's what the problem is:

I'm using the function syntax (added in [3.4.0](https://github.com/styled-components/styled-components/releases/tag/v3.4.0)), so my styled components look like this:

[code]

That isn't picked up by the plugin, whereas this does:

[code]

Thoughts?

[2018-09-27 19:34] Vpr99 commented on #166
No problem! I'll probably need some help, but I'll see if I can take a stab at it first :)

[2018-09-27 22:01] Vpr99 commented on #166
@probablyup yep, I got super stuck—might be best if you did it. Basically where I got to (baby steps) was:

We need to add a visitor for `CallExpression` as well as `TaggedTemplateExpression`. Then, `isStyled` needs to be modified to accept the call expression (`path.node`?) as well as `path.node.tag`.

Was I at least on the right track?

[2018-09-28 07:34] probablyup commented on #166
@Vpr99 want to test `babel-plugin-styled-components@dev` and let me know if it works?

[2018-09-28 08:45] fabyo82 commented on #41
I was able to setup SSR with typescript updating the Iogr's plugin.
I added the componentId to the withConfig, in a similar way the babel plugin works.
In addition, as I'm not using webpack for the server compilation, I found https://github.com/cevek/ttypescript to transpile using the same transformer.
I created a PR if anyone is interested.

[2018-09-28 13:42] Vpr99 commented on #166
@probablyup almost working! Now we've got:

`const foo = styled('div')({  })`

but this one isn't working still:

`const foo = styled('div')(props => ({  }))`

Thanks for all your hard work on this :)

[2018-09-28 22:52] probablyup commented on #166
@Vpr99 try it one more time, latest from the "dev" tag

[2018-09-29 04:13] Vpr99 commented on #166
@probablyup works great!

[2018-09-29 08:44] #166 closed

[2018-09-29 14:31] probablyup commented on #149
One common issue with `npm link` is the library gets duplicated in the development bundles. That would definitely lead to all sorts of weird issues since there isn't meant to be more than one copy of styled-components loaded at a time. You can use aliasing to get around this by forcing webpack to always load your local project's version of s-c.

https://github.com/styled-components/styled-componen

[2018-09-29 14:31] #149 closed

[2018-09-29 14:33] probablyup commented on #143
@mquandalle late followup but it looks like gatsby didn't have the ssr option turned on for certain rendering phases, which may have contributed to this issue: https://github.com/gatsbyjs/gatsby/pull/7912

[2018-09-29 14:33] probablyup commented on #142
Closing as this is being implemented in the core library: https://github.com/styled-components/styled-components/pull/2032

[2018-09-29 14:33] #142 closed

[2018-09-29 22:18] yiochen commented on #14
I looked into this issue a bit, here is some food for thought:

disclaimer: I have never worked with source map before, correct me if you found anything wrong.

The idea of source map is very simple. it maps line and column numbers of the generated content into the line and column numbers of the original source content. Source map is not a character by character mapping. It only maps the interesti

[2018-09-30 09:51] mxstbr commented on #14
I think development-only would be a great first step for a lot of people, and then we can work on making them work in production!

[2018-10-02 02:51] spilist opened #168 "Use with pre-eject create-react-app@2.0"
Since [create-react-app@2.0.3](https://github.com/facebook/create-react-app/releases/tag/v2.0.3) is just released with [babel-plugin-macros](https://github.com/kentcdodds/babel-plugin-macros) support, is it possible to use this plugin with the macro? (Or planning to?)

My team want to use this plugin without ejecting CRA@2.0, and currently [react-app-rewired](https://github.com/timarney/react-app-

[2018-10-02 04:32] probablyup commented on #168
There’s a PR open against styled-components core for this if you want to
follow along
On Mon, Oct 1, 2018 at 9:51 PM Hwidong Bae <notifications@github.com> wrote:

[2018-10-02 04:32] probablyup commented on #168
https://github.com/styled-components/styled-components/pull/2032

[2018-10-02 04:32] #168 closed

[2018-10-02 04:46] spilist commented on #168
Thanks @probablyup , I didn't know of it!

[2018-10-05 22:33] cloutiertyler commented on #41
Just out of curiosity @probablyup, it looks like styled-components already chooses the name based on the content of the CSS of the component:

https://github.com/styled-components/styled-components/blob/5bddab8c0a3272c8b617600d10727c155224186d/src/models/ComponentStyle.js#L89

It just evaluates the dynamic rules and flattens the whole thing. What does the file path have to do with this again?

I'm

[2018-10-06 13:09] mxstbr commented on #41
@cloutiertyler yes, but that is the instance-specific class. Every component has two classes, one is the instance-specific one and one is shared between all instances of the same component. Unfortunately the hash will differ between different instances, so we need to create that shared class somehow else, and for that we need to know the name of the component, which JavaScript the language doesn't

[2018-10-09 16:25] yessinekebir opened #169 "[SOLVED]Problems on styled-components v1.1.2 -> Not compatible"
Hi , i've installed the plugin on a 1.1.2v of styled component , but it's not compatible ,problem is that style change on my app.
Is there a solution for using babel-plugin-styled-components in 1.1.2 styled-component library?

[2018-10-09 16:54] mxstbr commented on #169
Upgrade to the latest version of styled-components? What's keeping you on v1.1.2?

[2018-10-10 07:28] yessinekebir commented on #169
@mxstbr  Thanks for answer.
Problem it's a big project made with styled-components 1.1.2, and when i update to the last version lot of styles pages change.

[2018-10-10 08:36] mxstbr commented on #169
Can you try updating to v2?

[2018-10-10 08:41] yessinekebir commented on #169
**Same problem using this versions:**
  "styled-components": "^2.4.1",
    "babel-plugin-styled-components": "^1.8.0",

[2018-10-10 09:06] mxstbr commented on #169
I'm afraid you'll have to upgrade to v3 or later for this plugin to work 😕

[2018-10-10 10:59] yessinekebir commented on #169
Updating to v3.4.6 same problem..
Do you know what's the main devDependencies that change styles ? (Difference between 1.1.2 and 3.4.6).
Thanks.

[2018-10-10 15:13] yessinekebir commented on #169
I've reinstalled babel-plugin with styled-components 1.1.2 and problem changed.. Now i've in console:
Dynamic page loading failed TypeError: styled_components__WEBPACK_IMPORTED_MODULE_0__.default.div.withConfig

[2018-10-10 16:07] probablyup commented on #169
@yessinekebir I don't think the babel plugin was ever compatible with styled-components v1? Only v2+

[2018-10-11 08:38] yessinekebir commented on #169
Solved..
Problem on v3.4.6 and babel-styled-component  v1.8 is the minified props..
By default the plugin pass minification: true, and it broke my CSS style.

**SOLUTION**
 ["babel-plugin-styled-components", {
      "minify": false
    }]

[2018-10-11 09:01] #169 closed

[2018-10-11 13:19] probablyup commented on #169
If you could post some of your code we could possibly improve the minifier
On Thu, Oct 11, 2018 at 3:38 AM Yessine <notifications@github.com> wrote:

[2018-10-17 20:24] manpenaloza opened #170 "using closures to refactor src/utils/options.js"
Hi, just checked some code of the repo out of interest and saw the code of the src/utils/options.js file that looks like this (branch master, today):

[code]

I saw the repetitive definition of exported functions that all got `state` as an argument which simply gets passed through to the execution of the `getOption` function. I tried to refactor this and came up with the upcoming code (which I hav

[2018-10-18 07:04] mxstbr commented on #170
Feel free to send a PR, cleaner code is always better!

[2018-10-27 07:43] #146 closed

[2018-11-01 03:30] probablyup commented on #59
@progressbear starting with v4 we ship a babel macro so you don't have to do that: https://www.styled-components.com/docs/tooling#babel-macro

[2018-11-15 12:19] selrond commented on #14
@yiochen how's it going?

[2018-11-16 23:15] sarneeh opened #179 "handle styled(Component)(object/function) syntax"
I'm using `styled-components` with SSR heavily and found few cases when the server-rendered markup mismatches on the client-side, resulting in a console warning in development mode.

After a lot of digging, I noticed that the problem goes away when I resign from the object/function syntax for extended components, like this:

[code]

This happens because this babel plugin does not ensure that style

[2018-11-19 18:17] renatocarvalho commented on #59
@probablyup This solved my problems! Thank you!

[2018-11-19 21:03] probablyup commented on #59
Because if you don't have the babel macro stuff set up in your build system it'd error out?

[2018-11-26 19:35] vpicone opened #182 "npm WARN @babel/plugin-syntax-jsx@7.0.0 requires a peer of @babel/core@^7.0.0-0 but none is installed."
Found this issue when initializing a project with mdx-deck. Does @babel-core need to be a regular dependancy?

[2018-11-26 19:40] vpicone commented on #182
babel-plugin-styled-components is the only package using this @babel/plugin-syntax

[code]

[2018-11-26 20:20] mxstbr commented on #182
Yeah it needs to be installed to support the JSX AST I think? /cc @satya164

[2018-11-28 15:05] keesvanlierop opened #184 "`cssProp` feature does not transpile template literals"
I was trying out the new cssProp feature introduced in 1.9, but noticed that the components created by the plugin are not transpiled by @babel/preset-env. So now my client bundle includes template literals, which is something IE does not really like. I've tried to set transpileTemplateLiterals to true, but that didn't work out.

My babel config looks like this:

[code]

**Example with CSS notation

[2018-11-28 15:39] mxstbr commented on #184
Great catch! @satya164 can we somehow run the css prop transform _before_ preset-env?

[2018-11-28 15:45] satya164 commented on #184
@mxstbr If I remember correctly, plugins always run before presets (and presets run last to first). so it should already be going through `preset-env`. Maybe we need to call `program.requeue()` when we're done.

[2018-11-28 15:59] probablyup commented on #182
Seems like https://github.com/styled-components/babel-plugin-styled-components/pull/183 fixed it

[2018-11-28 15:59] #182 closed

[2018-11-28 16:31] mxstbr commented on #182
Yep good catch!

[2018-11-29 09:12] keesvanlierop commented on #184
@satya164 The following does not seem to change anything for me:

[code]

Doesn't seem like the exit hook is called at all.

[2018-11-29 09:19] satya164 commented on #184
@keesvanlierop hmm the `styled` statements won't be inserted if it wasn't called. have tried putting console logs there to see if it's being called?

can you also try just doing `path.requeue()` after the push?

[2018-11-29 09:48] satya164 commented on #184
That shouldn't affect the Babel plugin 🤔
Are you checking your Terminal for the logs? They won't be in the browser console.

Can you put a `console.log` before `path.get('body')[oldLength + i]` and tell me what it gets called with? Also maybe you can create a small sample project? I'll try to debug it if I get few free minutes.

[2018-11-29 10:09] keesvanlierop commented on #184
It did affect though. Once i removed `transform-remove-console`, the logs started showing in the terminal (but that's probably entirely another issue).

`console.log(newLength, oldLength)` => Sometimes are equal, sometimes they differ (probably as expected

`console.log(path.get('body')[oldLength + i])` => Returns a NodePath instance:

[code]
Not sure what info you need here, because it's quite a

[2018-11-29 10:43] satya164 commented on #184
Hmm seems the items are pushed here, https://github.com/styled-components/babel-plugin-styled-components/blob/master/src/visitors/transpileCssProp.js#L103

In that case, the Program visitors aren't doing anything

[2018-11-29 11:30] satya164 commented on #184
@keesvanlierop can you try this PR: https://github.com/styled-components/babel-plugin-styled-components/pull/185

seems to be working for me locally.

[2018-11-29 11:43] keesvanlierop commented on #184
Can confirm.

`path.requeue(path.get('body')[oldLength + i]);` is what did the trick for me.

[2018-11-29 12:00] keesvanlierop commented on #184
Also identified the other issue, that was probably related to the `cacheDirectory` option that at that time still was set to `true`

[2018-11-29 13:44] #184 closed

[2018-11-30 19:28] amakk opened #186 "`cssProp` feature produces invalid CSS with object syntax"
Hi, I'm using the new `css` property, and I noticed that when I upgraded to babel-plugin-styled-components `1.9.2` (from `1.9.0`) it is no longer handling objects in CSS property correctly.

Given this input:

[code]

I am getting this output:
[code]
and further down:
[code]

I'm expecting it to output the css as something like:
[code]

If it helps, I'm using `styled-components 4.1.2` with Gatsby

[2018-12-01 09:52] mxstbr commented on #186
Hmm, this seems to be a bug, strange. @satya164 I think this was caused by the `requeue`?

[2018-12-03 10:42] satya164 commented on #186
That's pretty weird. No idea why it would add `-webkit-undefined` etc. as prefix. It'll be great if you can create a repro so I can test.

[2018-12-03 17:15] mxstbr commented on #186
I can replicate this, not sure why this broke.

[2018-12-03 17:52] satya164 commented on #186
Is there a repro somewhere that I can check?

[2018-12-03 22:18] satya164 commented on #186
Can someone please create a repo with the repro?

[2018-12-05 14:19] chrislombaard opened #187 "'css' prop not working with string syntax."
Hi

I have a test in my project that uses the new CSS prop in styled components to set the styles, and when using string syntax, i've noticed that the styles never get set.

Test:
[code]

Snapshot:
[code]

[2018-12-05 14:37] mxstbr commented on #187
Are you running the styled-components Babel plugin for your test setup?

[2018-12-05 15:41] janosh opened #197 "Support reusing CSS strings in the CSS prop"
It would be cool if the new [`css` prop](https://www.styled-components.com/docs/api#css-prop) supported passing in [css template literals](https://www.styled-components.com/docs/api#css).

Currently, I can only write a string explicitly into the prop field:
[code]
I cannot save it to a variable and reuse it in multiple places:

[code]
And I cannot import it from other files or pass it as a prop fr

[2018-12-06 05:34] alexlouden commented on #186
I'm seeing the same issues after moving from v1.8 with gatsby & rebass:
[code]

with babel-plugin-styled-components@1.9.0 & 1.9.1 during `gatsby build`:
[code]

and with 1.9.2:
[code]

Basic repro here - doesn't work online but works if you download & run `yarn && yarn start` locally - https://codesandbox.io/s/4z11joq1z7
Can see that the padding (from the `p` prop) and text color (from `color`) ar

[2018-12-06 09:37] chrislombaard commented on #187
Hi @mxstbr

Thanks for the quick reply. Here is my `.babelrc` file, as per the jest documentation.

[code]

[2018-12-06 09:42] chrislombaard commented on #187
Here are the other examples of using the new css prop that seem to work in my tests.
[code]

[code]

[2018-12-07 13:01] radiocontrolled opened #188 "styled.css error: "Cannot read property 'withConfig' of undefined""
Hello,

When I am interpolating a const that contains a styled-component into another styled-component using `styled.css`, I get type error:

`Cannot read property 'withConfig' of undefined`

[code]

By contrast, this would not raise errors:

[code]

These are my dependencies:

package.json
[code]

babel.config.js
[code]

I've tried using a range of `babel-plugin-styled-components` versions, e.g.

[2018-12-07 13:02] probablyup commented on #188
The export is actually just “css”, not styled.css
On Fri, Dec 7, 2018 at 8:01 AM Alison Benjamin <notifications@github.com>
wrote:

[2018-12-07 13:34] #188 closed

[2018-12-07 15:25] henrilp opened #189 "Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object."
Hi,

I've been using styled-components with success (for a react-beautiful-dnd part of my project) for a week or so, then I tried to integrate it to my whole project. Then I got this error that I can't understand :

I went to the conclusion that it was likely to be because of my babel configuration, but this is too obscure for me... could someone help me ?

[2018-12-07 15:51] kopax opened #190 "Is css props release in 1.9.2"
Hi and sorry if it's already explained somewhere,

I was playing with the experimental plugin, and now there is a 1.9.2 but there is no changelog.

https://github.com/styled-components/babel-plugin-styled-components/releases

Is the 1.9.2 supposed to work with the `css` props?

[2018-12-07 18:36] mxstbr commented on #190
Yep

[2018-12-07 18:46] satya164 commented on #186
There might be a conflict with the handling of the tagged template literal in the babel plugin as it has special handling I believe. I commented out the `TaggedTemplateExpression` part and it seems to be working. However, I don't have much time to investigate and since no one provided a GitHub repro for me to test on (I have no idea how to tweak the babel config after downloading the codesandbox e

[2018-12-08 05:55] kopax commented on #190
Fair enough.  Thanks a lot.

I see that you forced the usage of `css` for using keyframes, while we can use these keyframes outside of react (svg, html) but generate them with styled.

I believe this will be still possible what do you think?

[2018-12-08 06:01] kopax commented on #186
I have the same error and wrapping a string using `css` work fine with 1.9.2

[2018-12-10 13:06] mxstbr commented on #186
I have a potential fix for this in #191, can y'all test this in your app: `npm install babel-plugin-styled-components@experimental`? Let me know whether that fixes the issue or not! :pray:

[2018-12-10 14:35] mxstbr commented on #186
Found the bug I'm 99% sure: #192

[2018-12-10 14:37] #186 closed

[2018-12-10 14:37] #187 closed

[2018-12-10 14:38] mxstbr commented on #187
Please upgrade to v1.9.3, which should fix this issue! If it doesn't please let us know and I'll reopen this.

[code]

[2018-12-10 14:38] mxstbr commented on #186
Please upgrade to v1.9.3, which should fix this issue! If it doesn't please let us know and I'll reopen this.

[code]

[2018-12-10 14:40] mxstbr opened #193 "CSS Prop should run the template literal transpilation"
Right now the css prop transform runs after the template literal transpilation, causing the generated template literals to be transformed to the spec-compliant version (which we don't want).

We need to manually run the template literal transformation over the css prop generated code, or generate transformed template literals in the first place.

[2018-12-10 14:45] mxstbr commented on #186
Shoutout to the real MVP @alexlouden! Without your repro I couldn't have found this fix, thanks so much :pray: :pray: :pray: :pray:

[2018-12-11 06:38] slice opened #194 "`css` prop produces broken CSS when used with a plain string literal"
Hello! :wave:

I noticed that with `babel-plugin-styled-components@1.9.3`, using strings with the `css` prop produces invalid CSS:

![image](https://user-images.githubusercontent.com/4206232/49782593-b761ca00-fccb-11e8-9ff2-f67df1cfb5e8.png)

This invalid CSS appears to be the same as the invalid CSS produced by the bug in issue #186.

Here is the JSX that causes the issue:

[code]

On the other h

[2018-12-11 06:51] alexlouden commented on #186
No worries! I've updated and it works, thanks so much for the fix!

[2018-12-11 07:33] mxstbr commented on #194
Is there a chance you could put the buggy code into a repo and push it up? That would really help me debug this :pray:

[2018-12-11 08:22] alexlouden commented on #186
Oh actually, sorry @mxstbr - I've just noticed the following (on my work project):

[code]

that line points to a rebass Flex:
[code]

Updated the repro repo:
https://github.com/alexlouden/css-prop-bug-repro/commit/03cfc80d19533d326d9cec536177ec66ab0227ed

![screen shot 2018-12-11 at 4 17 42 pm](https://user-images.githubusercontent.com/1332954/49787098-b5961600-fd60-11e8-8cf4-eac6b2b30a96.png)

[2018-12-11 08:32] mxstbr commented on #186
Hmm yeah this is an issue with rebass passing through all attributes. We might have to rename the generated prop to `css`, let me submit a patch for that 🔜

[2018-12-11 08:32] Kovensky commented on #186
Oh, wow, that's a fun one.

Rebass implements its own `css` prop by always having a `${props => props.css}` interpolation in all of their components. This gets stolen by the babel plugin, and the way the babel plugin communicates dynamic values to the hoisted styles is with the `_$p_*` props.

_This here is just speculation on my part as I haven't tested/reread the code_, but: Those properties sho

[2018-12-11 08:35] mxstbr commented on #186
Yes exactly @Kovensky, you are spot on. There is nothing much we can do, but I'll rename the prop to `_css` so it's clear where it comes from!

[2018-12-11 08:37] Kovensky commented on #186
@mxstbr this is probably just really revealing a bug in `styled-components` core: ```styled(styled.div``)`` ``` should still filter out DOM props, but it's not. Or maybe it is, but it's not when there is even more levels of nesting/adoption.

[2018-12-11 08:38] mxstbr commented on #186
Not quite, no. It's not `styled(styled.div``)``)`, it's `styled(() => {})`. The lowest-level Rebass component is not a styled component, it's a normal React component that used to handle the `as` and `css` props, so we cannot filter out any props.

[2018-12-11 08:39] Kovensky commented on #186
Ah, I was looking specifically at `@rebass/grid` as that was the component used in the example. https://github.com/rebassjs/grid/blob/master/src/index.js#L16

[2018-12-11 08:51] Kovensky commented on #186
Looks like this is a problem with rebass v2; rebass v3 (`rebass@next`) looks like it should be compatible with this.

[2018-12-11 09:01] alexlouden commented on #186
Thanks for all the debugging! I'm unfortunately stuck on v2 for a little while since v3 is a rather large breaking change - https://github.com/rebassjs/rebass/releases/tag/v3.0.0

The warning doesn't show up for me on 1.8, so I'm happy to stick using that if that makes it easier for you? Then we could ask @jxnblk to add a note to the Rebass v2 docs so others can do the same?

[2018-12-11 14:12] mxstbr commented on #194
Can replicate with the code from #181, will try and investigate!

[2018-12-11 14:22] #194 closed

[2018-12-11 15:06] slice commented on #194
Thank you! ❤️

Sorry about the minimal reproduction code, I was sleeping.

[2018-12-11 15:45] mxstbr commented on #194
No worries :blush:

[2018-12-11 21:42] mxstbr commented on #197
In theory, this should already work with the way it's transformed, I'll dig into this soon.

[2018-12-13 09:47] mxstbr commented on #190
Changelog is written!

This is no longer possible with styled-components v4 to make lazy injection and code splitting of keyframes possible, so this also isn't possible with the macro.

[2018-12-13 09:47] #190 closed

[2018-12-14 08:58] henrilp commented on #189
Updating package react-scripts to v2 solved the problem :)

[2018-12-14 09:11] #189 closed

[2018-12-20 22:54] kopax opened #200 "Did styled-components or babel-plugin-styled-components changed the way it inject the css in the page in production lately ? How can I see the generated css in a production build?"
Hi everyone, I can see a lot of change with the `css` props, and the plugin.

I am using in an application the required dependencies:

- create react app (just for creating the app)
- styled component
- babel-plugin-styled-components.

I noticed after doing `npm run build` and opening the production application in my browser that it is not possible anymore to get *(using the chrome developer tab)*

[2018-12-21 09:39] mxstbr commented on #200
That was always the case and has nothing to do with the Babel plugin or the CSS prop.

In production mode we use a browser CSS injection API (`insertRule`) that is 10-100x faster than the naive injection API we use in development mode. Unfortunately, Chrome DevTools have a bug where they do not show styles in the HTML tree that are injected with this ultra fast injection API, so there's nothing we

[2018-12-21 09:39] #200 closed

[2018-12-21 16:00] kopax commented on #200
Thanks I understand now. May I ask what browser do you prefer over chrome?

[2018-12-22 07:57] kopax opened #201 "css props makes weird is not defined error"
I have the following app with a non ejected create react app:

[code]

## Expect

To have a valid synthax

## Result

[code]

Even if the class is not instanciated anywhere in the code, it will crash.

As soon as the `css` props is removed, it can build again.

## Versions

- styled-components: 4.1.3
- babel-plugin-styled-components: 1.10.0

[2018-12-22 08:20] kopax commented on #197
I am using `css={css``}``and not `css={}`, every where in my code. I thought it was supposed to be like that. What is the `css` util for then?

[2018-12-22 10:35] kopax commented on #201
Beside that, I have a question regarding `css` props.

I am using `css={css`color: red;`}``and not `css={'color: red;}`, every where in my code, while in the documentation they do not say to use it.

I thought it was supposed to be used, I've seen that when the css props was released in some source code.

What is the `css` util for then? I can notice that without it, my IDE (IntelliJ) lose the syn

[2019-01-02 12:09] janosh commented on #197
Somehow this has been fixed in the meantime. I upgraded to `babel-plugin-styled-components` v1.10.0 and all of the above use cases are working now. Not sure if updating was what fixed it, though. Feel free to close this issue.

[2019-01-07 08:19] mxstbr commented on #197
Awesome, happy to hear!

[2019-01-07 08:19] #197 closed

[2019-01-08 21:59] satya164 commented on #201
#202

[2019-01-09 00:09] nathanspecht opened #203 "cssProp isn't working with parcel"
## Description

The cssProp feature for babel-plugin-styled-components does not work with Parcel.

## Error

[code]

## Dependencies

[code]

## .babelrc

[code]

## CodeSandbox

https://codesandbox.io/s/j727ky0p55

[2019-01-17 17:00] reduxdj opened #204 "SSR - css class not being applied"
Sometimes, in certain components, between deployments, especially buttons(?) fail to get their styles applied. the css class is not generated in SSR, but a healthy command-shift-r makes the problem go away, it's as if the SSR print to the screen is missing the class name for the style. For instance there's no Coupon Button class in the head for the item bCxVqt, but after a hard refresh it is.
<img

[2019-01-24 19:15] janosh opened #205 "Suggestion: Pass css prop to all children if component wraps render in React.Fragment"
If a component encloses its children in a `React.Fragment`, e.g.
[code]
applying the `css` prop to it will do nothing, i.e.
[code]
will not result in blue text. Would this functionality be undesirable in some cases or could it be added?

[2019-01-24 20:09] mxstbr commented on #205
You need to use the passed-in `className`, no matter if its using a Fragment or any other kind of node:

[code]

[2019-01-24 20:09] #205 closed

[2019-01-30 02:02] brendonco opened #206 "styled component not minify"
why after build with minify, I still see styles not minify properly?

I try to use this config:
["babel-plugin-styled-components", {
      "pure": true,
      "minify": true,
    }]

and webpack 4++

[code]

[code]

[2019-02-05 11:05] wmertens opened #207 "Minification with & breaks CSS"
Something like

[code]

gets minified to

[code]

however, it seems that this disables the meaning of `&`. I assume the problem is that the CSS library wants whitespace before `&`?

[2019-02-08 10:33] hilkeheremans commented on #207
(Fancy us bumping into each other here, @wmertens ...)

Experiencing the same issue, which is breaking some of our styling throughout or application.

[2019-02-14 08:02] EnixCoda opened #208 "Seems this plugin is NOT compatible with babel-plugin-import"
Hi, I'd thank you for this awesome plugin first, it makes writing one-time styled components a lot easier!

But I've a problem using it with another plugin, i.e. `babel-plugin-import`, would you take a look?

[Sample project](https://github.com/EnixCoda/babel-plugin-conflict)

---

It's created by create-react-apps. I ejected config files using `yarn eject`, then added 4 dependencies, `antd`, `bab

[2019-02-14 08:11] EnixCoda commented on #208
One more detail:
From the compiled code, lines of `antd` (which should have been processed by babel-plugin-import) did not show up.
Maybe babel-plugin-styled-components overwrote that?

[2019-02-14 20:57] damassi commented on #149
During the server-side render pass this often isn't an option.

[2019-02-19 05:43] rifler opened #209 "Ability to write full path to a component's file in className"
Hi there!

Our common pattern is to write template in `index.tsx` (or `view.tsx`) and styles in `styles.tsx`. So the most common component dir structure looks like:
client/components/AwesomeComponent:
 - index.tsx
 - styles.tsx

That's why classes looks like `styles__Header-sc-1ei6mxn-18` and you can't easily identify what `Header` is it, from `Component1/styles.tsx` or from `Component2/styles.tsx

[2019-02-21 17:44] eav commented on #149
having the same issue with ssr, agreed unfortunately it has nothing to do with webpack here

[2019-02-21 17:57] damassi commented on #149
Related https://github.com/styled-components/styled-components/issues/2322

[2019-02-26 17:12] tabrindle commented on #108
Running into what I think is the same issue, but there's another distressing element to it - it works on macOS, and fails on Linux (CI).

[code]

I didn't write any of this HoC code, and to be honest it seems unnecessary here, but why would it work on one platform and not the other? I'm curious about this one.

[2019-02-28 07:12] LanhKhoc commented on #203
Btw, it doesn't work with **@babel/plugin-transform-react-constant-elements** too.

![image](https://user-images.githubusercontent.com/35893600/53547898-ce91b480-3b62-11e9-9b9f-b4d0501d6b74.png)

[2019-03-05 11:18] chentsulin opened #210 "plugin doesn't work with named import and namespaced component"
For example:

[code]

It outputs

[code]

with an undefined variable - `Heading`. It should be `_components.Heading.h1`

[2019-03-10 17:36] cellog opened #212 "weird interaction with storybook 5 breaks compilation"
As referenced here: https://github.com/storybooks/storybook/issues/5882

Greenkeeper asked us to upgrade from 4.1 to 5.0 of storybook, and now, suddenly, we get failures where the styled components babel plugin is replacing imports with declarations:

[code]

The PR that shows these errors is https://github.com/unlock-protocol/unlock/pull/1877

I have not yet tried to isolate this, would love some

[2019-03-19 17:03] maeligg opened #213 "styled.keyframes.withConfig is not a function"
Hello,

Since adding this plugin on my project, I get the runtime error
[code]
I thought this may be related to https://github.com/styled-components/babel-plugin-styled-components/issues/36 but I experienced it with both versions 3.4.10 and 4.1.3 of styled component (I'm using 1.10.0 of the plugin). Note that this only seems to happen on *some* styled components as I have others that were processe

[2019-03-21 19:50] benhunt29 commented on #213
I also am getting this error, I'm on `styled-components: 3.4.10` and `babel-plugin-styled-components: 1.10.0`

[2019-03-21 19:54] probablyup commented on #213
keyframes is a named export, not a property of `styled`

[code]

[2019-03-21 19:54] #213 closed

[2019-03-26 09:36] RikuVan commented on #208
I was using both of these plugins until today in a forked version of react-scripts. While it seemed to work, I just noticed it caused ie11 to crash completely because of the combination of plugins mentioned above. So ended up removing it the babel-plugin-import.

[2019-03-26 11:45] RikuVan commented on #208
Actually I take it back, this also did not work besides ie11, as stated above `styled(SomeAntDComponent)`

[2019-04-01 13:16] fabb commented on #78
Does it really need to be added to the general "plugins" section as well?

[2019-04-01 15:20] cyrus-za commented on #78
Only if you want it to fall back to that general setting when not in a defined environment (in this case production or development).

[2019-04-02 19:24] juancafe4 opened #214 "Styled-component example with Enzyme"
I am using displayName false and fileName false in my babel setup. But enzyme is not able to find any styled-component with a string as a parameter

`wrapper.find('Button')`

Thanks

[2019-04-02 19:41] probablyup commented on #214
Please use the `enzymeFind` test util, thanks! https://www.styled-components.com/docs/api#enzymefind

[2019-04-02 19:41] #214 closed

[2019-04-02 19:42] juancafe4 commented on #214
it requires to import the component which I don't want this styled component is private

[2019-04-02 19:44] juancafe4 commented on #214
it requires to import the component which I don't want this styled component is private

[2019-04-03 07:14] good-idea opened #215 "Escaped unicode within `css` causes compiling error"
This code:

[code]

(other styles in this component have been omitted)

Produces this error during compilation:

[code]

If I remove the `css`, it produces a more helpful error:

[code]

I have successfully compiled all of this before. A fresh install (with no lock file) fails on the build. I can poke around the lock file for the working build if that's helpful.

<details>
  <summary>babel config<

[2019-04-03 07:15] good-idea commented on #215
As an aside, I have this extra `css` in there because it get syntax highlighting to work in VS Code.

Other than this issue - are there any problems with using `css` like this?

[2019-04-05 13:07] maeligg commented on #213
Yes this is already what I'm using in my component :
[code]

This is bundled (wrongly ?) into the following :
`var rotate = styled.keyframes(['from{transform:rotate(0deg);}to{transform:rotate(360deg);}']);`

[2019-04-05 13:14] maeligg opened #216 "styled.keyframes.withConfig is not a function"
Reopening https://github.com/styled-components/babel-plugin-styled-components/issues/213 as I'm still experiencing this issue despite the suggestion provided.

I'm using v3.4.10 of styled-components and v1.10.0 of babel-plugin-styled-components. This is what I'm using in my component :

[code]

This is bundled (wrongly ?) into the following :
`var rotate = styled.keyframes(['from{transform:rotate(

[2019-04-07 18:13] rtymchyk commented on #215
If need a workaround, you can use `\u00A0` instead.

[2019-04-15 11:05] paschalidi opened #217 "Getting `Error: EACCES: permission denied` when running `npm install --save-dev babel-plugin-styled-components`"
Hello I would like to thank all of you for contributing and making this amazing lib for the community.
Big applause to every one of you!

I tried to install today this babel-plugin to my local machine and hot the following error,

[code]

Please let me know if anyone had this before. I suspect that this might be an issue with my local machine but I cant really tell why I get this when before I cou

[2019-04-15 22:39] th0th opened #218 "css prop isn't working when used in another yarn workspace package"
Greetings,

I am having a strange behavior for `css` prop. Not sure if it is a bug or feature 😄

I have a project with two packages (yarn workspaces) which has a structure like this,
[code]

If I import `Component1` from `Route.jsx` with

[code]

and use with `css="margin-top: 10px;"` it works.

But it doesn't do anything if I import from `Component2.jsx` with

[code]

and use with the same `css`

[2019-04-16 13:14] chodorowicz commented on #216
Same problem here...

[2019-04-24 15:21] josebrito opened #221 "css prop not working with babel plugins: "transform-react-inline-elements", "transform-react-constant-elements""
Hi,

I'm using [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate) for a project and have upgraded styled-components to v4.

For the production build I use the following babel configuration (i've only added `styled-components`, the rest is the initial configuration provided by the boilerplate):

[code]

I have a component which uses the `css` prop, but even though it is wor